@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.contacts-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 96px;
    margin-left: 232px;
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    gap: 72px;
    padding-left: 16px;

    .add-contact-container {
        position: absolute;
        top: 10%;
        left: 20%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 584px;
        height: 1024px;
        border-radius: 30px 0px 30px 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);


        .add-contact-top {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
            width: 584px;
            height: 362px;
            padding: 91px 46px 91px 46px;
            gap: 12px;
            border-top-left-radius: 20px;
            background-color: $medium-light-blue;
            border: 1px solid $input-boarder;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);

            .close-logo {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 17.5px;
                height: 17.5px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.5);
                    transition: all 0.2s ease-in-out;
                }
            }
            .add-contact-top-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 55px;
                    height: 66.5px;
                }
                h2 {
                    @include OpenSans(700, 48px, 57.6px, $white);
                }
                span {
                    @include Inter(400, 27px, 32.4px, $white);
                }
            }
        }
        .add-contact-bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 584px;
            height: calc(100% - 362px);
            background-color: $white;
            border: 1px solid $input-boarder;

            form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 422px;
                height: 193px;
                gap: 24px;

                input {
                    width: 100%;
                    height: 48px;

                    padding-left: 16px;
                    @include OpenSans(400, 19px, 22.8px, $black);
                }
            }
            .add-contact-btn {
                display: flex;
                gap: 4px;
        
                .cancel-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    white-space: nowrap;
                    width: 136px;
                    height: 61px;
                    border-radius: 10px;
                    border-style:solid 1px;
                    border-color: $light-gray;
                    background-color: $white;
                    padding: 16px 10px 16px 10px;
                    gap: 10px;
                    @include OpenSans(400, 23px, 27.6px, $light-gray);
                    cursor: pointer;

                }
        
                .create-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 204px;
                    height: 60px;
                    border-radius: 8px;
                    border-style: none;
                    background-color: $light-blue;
                    padding: 16px 10px 16px 10px;
                    gap: 10px;
                    @include OpenSans(400, 23px, 27.6px, $white);
                    cursor: pointer;
                }
            }
        }
    }

    .show-slider {
        display: flex!important;
        transition: all 0.2s ease-in-out;
        animation: slide-in 1s;
    }
    @keyframes slide-in {
        0% {
            transform: translateX(150%);
        }
        100% {
            transform: translateX(0);
        }
        
    }


    .contacts-left {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 456px;
        height: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);

        .contacts-left-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width:352px;
            height: 77px;
            padding: 15px 24px 15px 24px;
            gap: 35px;
            border-radius: 20px;
            
            &:hover {
                background-color: $light-blue;
                cursor: pointer;
                color: $white!important;
            }

            .contacts-left-usercircle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 42px;
                height: 42px;
                border: solid 1px $white;
                border-radius: 50%;
                @include Inter(400, 12px, 14.4px, $white);
            }

            .contacts-left-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 140px;
                height: 47;
                gap: 5px;

                .contacts-left-content-name {
                    @include OpenSans(400, 19px, 22.8px, $black);
                }

                .contacts-left-content-email {
                    @include OpenSans(400, 16px, 19.2px, $black);
                }
            }
        }
        .contacts-left-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            height: 104px;
            padding: 32px 24px 13px 24px;
            gap: 10px;
            .add-contact-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 357px;
                height: 56px;
                border-radius: 10px;
                border-style: none;
                background-color: $light-blue;
                padding: 10px 35px 10px 35px;
                @include OpenSans(400, 23px, 27.6px, $white);
                cursor: pointer;

                img {
                    width: 32px;
                    height: 32px;
                    margin-left: 16px;
                }
            }
        }

        .mobile-add-contact-container {
            position: absolute;
            bottom: 100px;
            right: 32px;
            display: none;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            border-radius: 10px;
            background-color: $light-blue;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
            gap: 10px;
            padding: 16px;
        }
    }

    .contacts-right {
        display: flex;
        flex-direction: column;
        gap: 21px;
        box-sizing: border-box;
        padding-top: 32px;
        overflow: hidden;
        width: 100%;
        .contact-detail-container {
            display: flex;
            flex-direction: column;
            animation: slide-in 2s;
            min-width: 461px;
            height: 318px;
            
            @keyframes slide-in {
                0% {
                    transform: translateX(150%);
                }
                100% {
                    transform: translateX(0);
                }
            }
            .contact-detail-top {
                display: flex;
                flex-direction: row;
                .user-circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background-color: rgba(255, 122, 0, 1);
                    margin-right: 16px;
                    .user-initials {
                        @include Inter(500, 47px, 56.4px, $white);
                    }
                }

                .contact-name-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    white-space: nowrap;
                    .contact-name {
                        @include Inter(500, 47px, 56.4px, $black);
                    }

                    .btn-container {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 158px;
                        height: 24px;
                        gap: 16px;

                        .edit-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 61px;
                            height: 24px;
                            gap: 6px;
                            cursor: pointer;
                            @include OpenSans(400, 16px, 19.2px, $dashboard-headline);
                        }
                    }
                }
                
            }
        }
           .contact-info {
            display: flex;
            flex-direction: column;
            gap: 15px;
            @include OpenSans(400, 16px, 19.2px, $black);
            h2 {
                @include OpenSans(700, 23px, 27.6px, $black);
            }
            
            span {
                @include OpenSans(700, 16px, 19.2px, $black);
            }
        }
    }
    .contacts-detailview-mobile {
        position: relative;
        display: none;
        
        .mobile-edit-contact-container {
            position: absolute;
            bottom: 100px;
            right: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            border-radius: 10px;
            background-color: $light-blue;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
            gap: 10px;
            padding: 16px;
            cursor: pointer;
        }
        .mobile-menu-wrapper {
            position: absolute;
            bottom: 196px;
            right: 130px;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 116px;
            height: 100px;
            border-radius: 20px 20px 0px 20px;
            padding: 10px;
            background-color: $white;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);

            .mobile-edit-btn {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                box-sizing: border-box;
                width: 96px;
                height: 40px;
                padding: 8px;
                gap: 8px;
                cursor: pointer;

                span {
                    @include OpenSans(400, 16px, 19.2px, $dashboard-headline);
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
            
            .mobile-delete-btn {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                box-sizing: border-box;
                width: 96px;
                height: 40px;
                padding: 8px;
                gap: 8px;
                cursor: pointer;
                span {
                    @include OpenSans(400, 16px, 19.2px, $dashboard-headline);
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    .show-mobile-contact-menu {
        display: flex!important;
        transition: all 0.2s ease-in-out;
        animation: slide-in 1s;
    }
    .show-mobile-detailview {
        display: flex!important;
        transition: all 0.2s ease-in-out;
        animation: slide-in 1s;
        .mobile-contact-detail-container {
            display: flex;
            flex-direction: column;
            min-width: 461px;
            height: 318px;

            .mobile-contact-detail-top {
                display: flex;
                flex-direction: row;
                .mobile-user-circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background-color: rgba(255, 122, 0, 1);
                    margin-right: 16px;
                    .mobile-user-initials {
                        @include Inter(500, 47px, 56.4px, $white);
                    }
                }

                .mobile-contact-name-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    white-space: nowrap;
                    .mobile-contact-name {
                        @include Inter(500, 47px, 56.4px, $black);
                    }

                }
                .mobile-close-btn {
                    width: 31px;
                    height: 31px;
                    margin-top: 24px;
                    margin-left: 16px;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.5);
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
           .mobile-contact-info {
            display: flex;
            flex-direction: column;
            gap: 15px;
            @include OpenSans(400, 16px, 19.2px, $black);
            h2 {
                @include OpenSans(700, 23px, 27.6px, $black);
            }
            
            span {
                @include OpenSans(700, 16px, 19.2px, $black);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .contacts-wrapper {
        position: relative;
        margin-left: 0px;
        width: 100vw;
        max-width: 100%;
        height: calc(100vh - 96px);
        max-height: 100%;
        gap: 0px;
        padding-left: 0px;
        overflow: hidden;
        .contacts-left {
            width: 100%;
            height: 100%;
            .contacts-left-btn-container {
                display: none;
            }
            .contacts-left-container {
                width: 100%;
                height: 77px;
                padding: 15px 24px 15px 24px;
                gap: 35px;
                border-radius: 20px;
            }
            .contacts-left-btn-container {
                width: 100%;
                height: 104px;
                padding: 32px 24px 13px 24px;
                gap: 10px;
                .add-contact-btn {
                    width: 100%;
                    height: 56px;
                    border-radius: 10px;
                    border-style: none;
                    background-color: $light-blue;
                    padding: 10px 35px 10px 35px;
                    @include OpenSans(400, 23px, 27.6px, $white);
                    cursor: pointer;
                    img {
                        width: 32px;
                        height: 32px;
                        margin-left: 16px;
                    }
                }
            }
            .mobile-add-contact-container {
                display: flex;
            }
        }

        .contacts-right {
            display: none;
        }
        .contacts-detailview-mobile {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            max-width: 100%;
            height: 100vh;
            height: 100%;
            background-color: white;
            padding-left: 16px;
            overflow: hidden;
            .contact-detail-container {
                min-width: 100%;
            }
        }
    }
}