<div class="contacts-wrapper">
  <!--Hidden Container-->
  <div #popupContainer class="popup-container">
    <div class="create-popup">
      <span>Contact succesfully created</span>
    </div>
  </div>
  <div #popupContainerDelete class="popup-container">
    <div class="create-popup">
      <span>Contact succesfully deleted</span>
    </div>
  </div>
  <!--Hidden Add Contact Container-->
  <div class="slide-wrapper" #addContactContainer>
  <div class="add-contact-container">
    <div class="add-contact-top">
      <img
        (click)="showSlider()"
        class="close-logo"
        src="assets/img/contacts/close.png"
      />
      <div class="add-contact-top-title">
        <img src="assets/img/contacts/join_logo.png" />
        <h2>Add Contact</h2>
        <span>Tasks are better with a team!</span>
      </div>
    </div>
    <div class="add-contact-bottom">
      <img class="user-img" src="assets/img/contacts/user-circle-add-contact.png" />
      <form
        [formGroup]="this.ArraysService.contactsForm"
        (ngSubmit)="this.addContact(this.ArraysService.contactsForm.value)"
      >
      <div class="inpufield-wrapper">
        <input
          formControlName="name"
          name="name"
          type="text"
          placeholder="Name"
        />
        <img src="assets/img/contacts/name_inputfield.png">
      </div>
      <div class="inpufield-wrapper">
        <input
          formControlName="email"
          name="email"
          type="email"
          placeholder="Email"
        />
        <img src="assets/img/contacts/mail_inputfield.png">
      </div>
    <div class="inpufield-wrapper">
        <input
          formControlName="phone"
          name="phone"
          type="phone"
          placeholder="Phone"
        />
        <img src="assets/img/contacts/phone_inputfield.png">
      </div>

        <div class="add-contact-btn">
          <button class="cancel-btn" (click)="showSlider()" type="button">
            Cancel<img src="assets/img/contacts/cancel.png" />
          </button>
          <button class="create-btn" type="submit"
          [disabled]="
          !(
            this.ArraysService.contactsForm.valid &&
            (this.ArraysService.contactsForm.dirty ||
              this.ArraysService.contactsForm.touched)
          )
        ">
            Create contact<img src="assets/img/contacts/create.png" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
  <!--end of hidden Add Contact Container-->
  <!--Hidden Edit Contact Container-->
  <div
    *ngIf="selectedContactIndex !== -1"
    class="add-contact-container"
    #editContactContainer
  >
    <div class="add-contact-top">
      <img
        (click)="showEditSlider()"
        class="close-logo"
        src="assets/img/contacts/close.png"
      />
      <div class="add-contact-top-title">
        <img src="assets/img/contacts/join_logo.png" />
        <h2>Edit Contact</h2>
      </div>
    </div>
    <div class="edit-contact-bottom">
      <img class="user-img" src="assets/img/contacts/user-circle-add-contact.png" />
      <form
        #editContactForm="ngForm"
        [formGroup]="this.ArraysService.editContactForm"
        (ngSubmit)="editContact(editContactForm.value)"
      >
        <input
          #inputName
          formControlName="name"
          name="name"
          type="text"
          placeholder="Name"
          
        />
        <ng-container
        *ngIf="
          this.ArraysService.editContactForm.controls['name'].dirty ||
          this.ArraysService.editContactForm.controls['name'].touched
        "
      >
        <p
          class="error-message"
          *ngIf="this.ArraysService.editContactForm.controls['name'].errors"
        >
          Enter correct Name
        </p>
      </ng-container>
        <input
          #inputEmail
          formControlName="email"
          name="email"
          type="email"
          placeholder="Email"
          
        />
        <ng-container
        *ngIf="
          this.ArraysService.editContactForm.controls['email'].dirty ||
          this.ArraysService.editContactForm.controls['email'].touched
        "
      >
        <p
          class="error-message"
          *ngIf="this.ArraysService.editContactForm.controls['email'].errors"
        >
          Enter valid email adress
        </p>
      </ng-container>
        <input
          #inputPhone
          formControlName="phone"
          name="phone"
          type="phone"
          placeholder="Phone"
          
        />
        <ng-container
        *ngIf="
          this.ArraysService.editContactForm.controls['phone'].dirty ||
          this.ArraysService.editContactForm.controls['phone'].touched
        "
      >
        <p
          class="error-message"
          *ngIf="this.ArraysService.editContactForm.controls['phone'].errors"
        >
          Enter correct phone number
        </p>
      </ng-container>
        <div class="add-contact-btn">
          <button class="cancel-btn" (click)="showSlider()" type="button">
            Delete<img src="assets/img/contacts/cancel.png" />
          </button>
          <button class="create-btn" type="submit"
          [disabled]="
          !(
            this.ArraysService.editContactForm.valid &&
            (this.ArraysService.editContactForm.dirty ||
              this.ArraysService.editContactForm.touched)
          )
        ">
            Save<img src="assets/img/contacts/create.png" />
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--end of Hidden Edit Contact Container-->
  <!--end of Hidden Container-->
  <div class="contacts-left">
    <div class="contacts-left-btn-container">
      <div class="add-contact-btn" (click)="showSlider()">
        Add contact<img src="assets/img/contacts/person_add.png" />
      </div>
    </div>
    <div
      *ngFor="let contact of this.ArraysService.sortedalphabetically; let i = index"
      id="contact-{{ i }}"
      (click)="getContactById(i); showMobileDetailView()"
      class="contacts-left-container"
    >
      <div
        [style.background-color]="this.ArraysService.sortedalphabetically[i].color"
        class="contacts-left-usercircle"
      >
        {{contact.initials}}
      </div>
      <div class="contacts-left-content">
        <div class="contacts-left-content-name">{{ contact.name }}</div>
        <div class="contacts-left-content-email">{{ contact.email }}</div>
      </div>
    </div>
    <!--hidden mobile add contact Container-->
    <div class="mobile-add-contact-container" (click)="showSlider()">
      <img src="assets/img/contacts/person_add.png" />
    </div>
    <!--end of hidden mobile add contact Container-->
  </div>
  <div class="contacts-right">
    <div
      *ngIf="selectedContactIndex !== -1 && ammountOfDisplayedcontacts > 0"
      class="contact-detail-container"
    >
      <div class="contact-detail-top">
        <div
          [style.background-color]="
            this.ArraysService.sortedalphabetically[selectedContactIndex].color
          "
          class="user-circle"
        >
          <div class="user-initials">{{this.ArraysService.sortedalphabetically[selectedContactIndex].initials}}</div>
        </div>
        <div class="contact-name-container">
          <div class="contact-name">
            {{ this.ArraysService.sortedalphabetically[selectedContactIndex].name }}
          </div>
          <div class="btn-container">
            <div (click)="showEditSlider()" class="edit-btn">
              <img src="assets/img/contacts/edit.svg" alt="edit_icon" />
              <span>Edit</span>
            </div>
            <div (click)="deleteContact()" class="edit-btn">
              <img src="assets/img/contacts/delete.svg" alt="delete_icon" />
              <span>Delete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-info">
        <h2>Contact Information</h2>
        <span>Email</span>
        <div class="contact-email">
          {{ this.ArraysService.sortedalphabetically[selectedContactIndex].email }}
        </div>
        <span>Phone</span>
        <div class="contact-phone">
          {{ this.ArraysService.sortedalphabetically[selectedContactIndex].phone }}
        </div>
      </div>
    </div>
  </div>
  <!--mobile contact detail Container-->
  <div #mobileDetailView class="contacts-detailview-mobile">
    <div class="detailview-mobile-top">
    <h2>Contact Information</h2>
    <img
    (click)="showMobileDetailView()"
    class="mobile-close-btn"
    src="assets/img/contacts/arrow-left-line.png"
  />
    </div>
    <div
      *ngIf="selectedContactIndex !== -1 && ammountOfDisplayedcontacts > 0"
      class="mobile-contact-detail-container"
    >
      <div class="mobile-contact-detail-top">
        <div
          [style.background-color]="
            this.ArraysService.sortedalphabetically[selectedContactIndex].color
          "
          class="mobile-user-circle"
        >
          <div class="mobile-user-initials">{{this.ArraysService.sortedalphabetically[selectedContactIndex].initials}}</div>
        </div>
        <div class="mobile-contact-name-container">
          <div class="mobile-contact-name">
            {{ this.ArraysService.sortedalphabetically[selectedContactIndex].name }}
          </div>
        </div>

      </div>
      <div class="mobile-contact-info">
        <span>Email</span>
        <div class="mobile-contact-email">
          {{ this.ArraysService.sortedalphabetically[selectedContactIndex].email }}
        </div>
        <span>Phone</span>
        <div class="mobile-contact-phone">
          {{ this.ArraysService.sortedalphabetically[selectedContactIndex].phone }}
        </div>
      </div>
    </div>
    <div
      (click)="openMobileContactMenu()"
      class="mobile-edit-contact-container"
    >
      <img src="assets/img/contacts/mobile_open_menu.png" />
    </div>
    <!--hidden mobile edit contact menu-->
    <div #mobileMenuWrapper class="mobile-menu-wrapper">
      <div (click)="showEditSlider()" class="mobile-edit-btn">
        <img src="assets/img/contacts/edit.svg" alt="edit_icon" />
        <span>Edit</span>
      </div>
      <div class="mobile-delete-btn">
        <div (click)="deleteContact()" class="mobile-edit-btn">
          <img src="assets/img/contacts/delete.svg" alt="delete_icon" />
          <span>Delete</span>
        </div>
      </div>
    </div>
    <!--end of hidden mobile edit contact menu-->
  </div>
  <!--end of mobile contact detail Container-->
</div>
