<div class="contacts-wrapper">
  <div class="contacts-left"></div>

  <div class="contacts-right">
    <div class="contact-detail-container">
      <div class="contact-detail-top">
        <div class="user-circle">
          <div class="user-initials">AM</div>
        </div>
        <div class="contact-name-container">
          <div class="contact-name">Anton Mayer</div>
          <div class="btn-container">
            <div class="edit-btn">
              <img src="assets/img/contacts/edit.svg" alt="edit_icon" />
              <span>Edit</span>
            </div>
            <div class="edit-btn">
              <img src="assets/img/contacts/delete.svg" alt="delete_icon" />
              <span>Delete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-info">
        <h2>Contact Information</h2>
        <span>Email</span>
        <div class="contact-email">antom@gmail.com</div>
        <span>Phone</span>
        <div class="contact-phone">+49 1111 111 11 1</div>
      </div>
    </div>
  </div>
</div>
