<div class="login-wrapper">
  <div class="login-header">
    <div class="login-header-left">
      <img class="logo" src="assets/img/login/login.svg">
    </div>
    <div class="login-header-right">
      <span>Not a Join user?</span>
      <button (click)="redirectToSignup()">Sign up</button>
    </div>
  </div>


  <div class="login-box">
    <h1>Log in</h1>
    <form action="" onsubmit="logIn();return false;">
      <input required type="email" placeholder="Email" #userEmail />
      <input required type="password" placeholder="Password" #userPassword />
      <div class="login-checkbox">
        <input type="checkbox" id="remember-me" />
        <span>Remember me</span>
      </div>
      <div class="btn-container">
        <button type="submit" class="login-btn">Log in</button>
        <button type="button" (click)="guestLogIn()" class="guest-login-btn">Guest log in</button>
      </div>
    </form>
  </div>

  <div class="login-signup-mobile">
    <span>Not a Join user?</span>
    <button (click)="redirectToSignup()">Sign up</button>
  </div>
  <div class="login-footer">
    <div class="login-footer-left">
      <a href="#">Privacy Policy</a>
    </div>
    <div class="login-footer-right">
        <a href="#">Legal Notice</a>
    </div>
  </div>
</div>
