@import"src/assets/styles/colors.scss";
@import"src/assets/styles/fonts.scss";


.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    width: 100vw;
    max-width: 100%;
    background-color: $bg-color;
}

.hide {
    display: none!important;
}

.login-header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 77px;
    padding-right: 77px;
    padding-top: 80px;
}

.login-header-left {
    .logo {
        width:100px;
        height: 122px;
        animation: fill-login-logo 2s ease-in-out;
    }
    animation: login-logo 2s ease-in-out;
}


@keyframes login-logo {
    0% {
        opacity: 0;
        transform: translateY(50vh) translateX(50vw) scale(2);
        fill: white;
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
        fill: $medium-light-blue;
    }
}

@keyframes login-logo {
    0% {
        opacity: 0;
        transform: translateY(50vh) translateX(50vw) scale(2);
        fill: white;
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
        fill: $medium-light-blue;
    }
}



.login-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include OpenSans(400, 23px, 27.6px, $black);
    button {
        width: 112px;
        height: 48px;
        border-radius: 8px;
        border-style: none;
        background-color: $light-blue;
        padding: 10px 16px 10px 16px;
        @include OpenSans(400, 23px, 27.6px, $white);
        cursor: pointer;

        &:hover {
            transition: all 115ms ease-in-out;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
            scale: 1.05;
        }
    }
}

.login-signup-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include OpenSans(400, 23px, 27.6px, $black);
    button {
        width: 112px;
        height: 48px;
        border-radius: 8px;
        border-style: none;
        background-color: $light-blue;
        padding: 10px 16px 10px 16px;
        @include OpenSans(400, 23px, 27.6px, $white);
        cursor: pointer;
    }
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    background-color: $white;
    max-width: 652px;
    max-height: 491px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.08);
    gap: 24px;
    padding: 48px 115px 48px 115px;

    h1 {
        @include OpenSans(700, 48px, 57.6px, $black);
        text-decoration: underline;
        text-decoration-color: $light-blue;
        text-decoration-thickness: 3px;
        text-underline-offset: 3px;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .inputwrapper {
        position: relative;
        .input-icon {
            position: absolute;
            width: 24px;
            height: 24px;
            margin-top: 12px;
            margin-left: 16px;
            right: 0;
            top: 14px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input {
            width: 90%;
            @include OpenSans(400, 19px, 16px, $black);
        }
        .error-message {
            @include OpenSans(400, 16px, 19.2px, $red);
            text-align: center;
            margin-block-start: unset !important;
            margin-block-end: unset !important;
          }
    }
    
    
    .btn-container {
        display: flex;
        gap: 10px;

        .login-btn{
            width: 135px;
            height: 48px;
            border-radius: 8px;
            border-style: none;
            background-color: $light-blue;
            padding: 10px 35px 10px 35px;
            @include OpenSans(400, 23px, 27.6px, $white);
            cursor: pointer;

            &:disabled {
                background-color: $light-gray;
                cursor: not-allowed;
            }
        }

        .guest-login-btn{
            box-sizing: border-box;
            white-space: nowrap;
            width: 197px;
            height: 48px;
            border-radius: 8px;
            border-style:solid 1px;
            border-color: $light-gray;
            background-color: $white;
            padding: 10px 35px 10px 35px;
            @include OpenSans(400, 23px, 27.6px, $light-gray);
            cursor: pointer;
        }
    }
    span {
        @include OpenSans(400, 16px, 19.2px, $black);
    }

    input {
        max-width: 422px; 
        height: 48px;
        border: 0px 0px 1px 0px solid $light-gray;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 12px 21px 12px 21px;
    }

    .login-checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 16px;
        margin-top: 16px;
        margin-bottom: 16px;

        input {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }

}

.login-footer {
    display: flex;
    width: 240px;
    height: 35px;
    @include OpenSans(400, 16px, 19.2px, $menu-color);

    a { 
        text-decoration: none;
        color: $menu-color;
        gap: 8px;
        padding: 8px;

        cursor: pointer;
        text-decoration: none;
        color: $black;
        gap: 8px;
        padding: 8px;
    
        &:hover {
          text-decoration: underline;
          text-decoration-color: $black;
          text-decoration-thickness: 2px;
          text-underline-offset: 6px;
        }
    }
}

@media screen and (max-width: 750px) {
    .login-header {
        padding-top: 4px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .login-header-left {
        .logo {
            width:64px;
            height: 78px;
        }
    }
    .login-header-right {
        display: none;
    }
    .login-box {
        max-width: 100%;
        max-height: 491px;
        padding: 32px 16px 32px 16px;
        gap: unset;
    
        h1 {
            @include OpenSans(700, 47px, 56.4px, $black);
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 8px;

            input {
                width: 85%;
                @include OpenSans(400, 16px, 12px, $black);
            }
        }
        
        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
    
            .login-btn{
                width: 180px;
                height: 48px;
                padding: 4px 0px 4px 0px;
                @include OpenSans(400, 19px, 22.8px, $white);
            }
    
            .guest-login-btn{
                width: 180px;
                height: 48px;
                padding: 12px 0px 12px 0px;
                @include OpenSans(400, 19px, 22.8px, $light-gray);
            }
        }
        span {
            @include OpenSans(400, 16px, 19.2px, $black);
        }
    
        input {
            max-width: 364px; 
        }
    
        .login-checkbox {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
    .login-signup-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 8px;
        @include OpenSans(400, 19px, 22.8px, $black);
        button {
            width: 98px;
            height: 43px;
            @include OpenSans(400, 19px, 22.8px, $white);
            cursor: pointer;
        }
    }
}


.show {
    display: flex!important;
}

.privacy-wrapper {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    gap: 30px;
    background-color: $bg-color;

    overflow-y: scroll;
    overflow-x: hidden;

    .header {
        box-sizing: border-box;
        padding: 20px 39px 20px 39px;
        width: 100vw;
        height: 96px;
        background-color: $light-blue;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: flex-start;
    }

    .privacy-headline {
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding-left: 16px;
        padding-right: 16px;
        h1 {
        @include OpenSans(700, 61px, 73.2px, $black);
        }
        img {
            cursor: pointer;
        }
    }

    .privacy-content {
        padding-left: 16px;
        padding-right: 16px;
        h2 {
            @include OpenSans(700, 33px, 39.6px, $medium-light-blue);
        }

        span {
            @include OpenSans(400, 16px, 19.2px, $black);
        }
    }
}


.legal-wrapper {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    gap: 30px;
    background-color: $bg-color;

    overflow-y: scroll;
    overflow-x: hidden;

    .header {
        box-sizing: border-box;
        padding: 20px 39px 20px 39px;
        width: 100vw;
        height: 96px;
        background-color: $light-blue;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: flex-start;
    }
    .legal-headline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      padding-left: 16px;
      padding-right: 16px;
      h1 {
        @include OpenSans(700, 61px, 73.2px, $black);
      }
      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
  
    .legal-content {
        padding-left: 16px;
        padding-right: 16px;
      h2 {
        @include OpenSans(700, 33px, 39.6px, $light-blue);
      }
      h3 {
        @include OpenSans(700, 19px, 22.8px, $medium-light-blue);
      }
      h4 {
        @include OpenSans(400, 16px, 19.2px, $light-blue);
      }
      span {
        @include OpenSans(400, 16px, 19.2px, $black);
        .blue {
          color: $light-blue;
        }
      }
    }
  }
  

