<div class="addtask-wrapper">
  <div class="addtask-left">
    <div class="headline">
      <h1>Add Task</h1>
    </div>
    <form
      [formGroup]="this.TaskArraysService.addTaskForm"
      (ngSubmit)="
        this.TaskArraysService.addTask(this.TaskArraysService.addTaskForm.value)
      "
    >
      <div class="addtask-left-top">
        <div>
          <input
            formControlName="title"
            name="title"
            type="text"
            placeholder="Enter a title"
          />
        </div>
        <h2>Description <span>(optional)</span></h2>
        <textarea
          formControlName="description"
          name="description"
          type="text"
          placeholder="Enter a description"
          cols="30"
          rows="10"
        ></textarea>
        <h2>Due date</h2>
        <div>
          <input
            formControlName="dueDate"
            name="date"
            type="date"
            placeholder="dd/mm/yyyy"
          />
        </div>
        div>
      </div>
      <div class="addtask-left-prio">
        <h2>Priority <span>(optional)</span></h2>
        <div class="prio-box">
          <div
            class="prio-container-urgent"
            (click)="this.TaskArraysService.selectPriority('urgent')"
          >
            <span>Urgent</span>
            <img src="assets/img/addtask/prio_urgent.svg" alt="prio_icon" />
          </div>
          <div
            class="prio-container-medium"
            (click)="this.TaskArraysService.selectPriority('medium')"
          >
            <span>Medium</span>
            <img src="assets/img/addtask/prio_medium.svg" alt="prio_icon" />
          </div>
          <div
            class="prio-container-low"
            (click)="this.TaskArraysService.selectPriority('low')"
          >
            <span>Low</span>
            <img src="assets/img/addtask/prio_low.svg" alt="prio_icon" />
          </div>
        </div>
      </div>
      <div class="addtask-assigned-box">
        <h2>Assigned to<span>(optional)</span></h2>
        <div class="assigned-contacts">
          <div class="assigned-dropdown-menu">
            <span>Select contacts to assign</span>
          </div>
          <div
            *ngIf="!this.TaskArraysService.assignedDropdownVisible"
            (click)="showAssignDropdown()"
            class="arrow-container"
          >
            <img
              src="assets/img/addtask/arrow_drop_down.png"
              alt="arrow_down"
            />
          </div>
          <div
            *ngIf="this.TaskArraysService.assignedDropdownVisible"
            (click)="showAssignDropdown()"
            class="arrow-container"
          >
            <img
              src="assets/img/addtask/arrow_drop_down_up.png"
              alt="arrow_down"
            />
          </div>
        </div>
        <div
          *ngFor="let contact of this.ArraysService.contacts; let i = index"
          class="assigned-dropdown-container"
          #assignedDropdown
        >
          <div class="assigned-user">
            <div
              [style.background-color]="this.ArraysService.contacts[i].color"
              class="assigned-user-circle"
            >
              <div class="assigned-user-Initials">AT</div>
            </div>
            <span class="assigned-user-name">{{ contact.name }}</span>
            <div>
              <input type="checkbox" name="assigned" />
            </div>
          </div>
        </div>
      </div>

      <div class="addtask-left-bottom">
        <h2>Category</h2>
        <select
          formControlName="category"
          class="inputfield-add-task"
          type="text"
          name="category"
        >
          <option value="" disabled selected>Select a category</option>
          <option class="sales" value="sales">Sales</option>
          <option class="marketing" value="marketing">Marketing</option>
          <option class="accounting" value="accounting">Accounting</option>
          <option class="development" value="development">Development</option>
          <option class="purchase" value="purchase">Purchase</option>
        </select>
      </div>
      <div class="addtask-left-bottom">
        <h2>Subtasks<span>(optional)</span></h2>
        <div>
          <input
            formControlName="subtask"
            name="subtask"
            type="text"
            placeholder="Enter a subtask"
          />
        </div>
      </div>
      <div class="addtask-right">
        <div class="btn-container">
          <button type="button" class="clear-btn">
            Clear<img src="assets/img/addtask/clear_btn.svg" />
          </button>
          <button
            [disabled]="
              !(
                this.TaskArraysService.addTaskForm.valid &&
                (this.TaskArraysService.addTaskForm.dirty ||
                  this.TaskArraysService.addTaskForm.touched)
              )
            "
            type="submit"
            class="create-btn"
          >
            Create Task<img src="assets/img/addtask/create_btn.svg" />
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
