@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.addtask-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 96px;
  margin-left: 238px;
  width: calc(100vw - 238px);
  height: calc(100vh - 96px);
  overflow: hidden;
  z-index: 2;

  .error-message {
    @include OpenSans(700, 16px, 18.8px, $red);
    margin-block-start: unset;
    margin-block-end: unset;
  }
  
  .popup-container {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(255, 254, 247, 0.4);
    z-index: 3;
    transition: all 0.2s ease-in-out;
    .create-popup {
        width: 326px;
        height: 74px;
        border-radius: 20px;
        background-color: $light-blue;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 225ms ease-in-out;
        animation: slide-up 1s;
        @keyframes slide-up {
            0% {
                transform: translateY(850%);
            }
            100% {
                transform: translateY(0);
            }
        }
        span {
            @include OpenSans(400, 23px, 27.6px, $white);
        }
    }
}

.showPopup {
    display: flex!important;
    transition: all 0.2s ease-in-out;
}

  .addtask-left {
    box-sizing: border-box;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    padding: 0px 24px 0px 24px;
    gap: 24px;

    form {
      position: relative input {
        width: 100%;
      }
    }
  }

  .headline {
    h1 {
      @include OpenSans(400, 48px, 57.6px, $dashboard-headline);
    }
  }

  .addtask-left-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 440px;
    height: 361px;
    gap: 12px;

    .input-wrapper {
      width: 100vw;
      max-width: 100%;
      input {
        width: 100%;
        height: 24px;
        gap: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $input-boarder;
        padding: 13px 16px 13px 16px;

        &.ng-touched,
        &.ng-dirty {
          &.ng-invalid {
            border: 1px solid $red;
            border-radius: 10px;
          }
          &.ng-valid {
            border: 1px solid $green;
            border-radius: 10px;
          }
        }
      }
    }
    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }
    input {
      border-style: dashed;
      background-color: $bg-color;
      width: 460px;
      height: 64px;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    textarea {
      width: 100vw !important;
      max-width: 105%;
      height: 123px;
      gap: 4px;
      background-color: $bg-color;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
  }

  .addtask-left-prio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }

    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    .prio-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 51px;
      gap: 16px;

      .prio-container-urgent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $urgent;
        }
        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $urgent;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .prio-container-medium {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $medium;
        }
        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $medium;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .prio-container-low {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $low;
        }

        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $low;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .assign-color-urgent {
        background-color: $urgent;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
      .assign-color-medium {
        background-color: $medium;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
      .assign-color-low {
        background-color: $low;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
    }
  }
  .addtask-assigned-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 464px;
    height: 79px;
    margin-top: 22px;
    background-color: $bg-color;

    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
      span {
        @include OpenSans(400, 19px, 22.8px, $menu-color);
      }
    }
    .assigned-contacts {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .assigned-dropdown-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 440px;
        height: 22px;
        gap: 8px;
        padding: unset;
        border: 0px 0px 1px 0px solid $input-boarder;
        background-color: $bg-color;
        span {
          @include OpenSans(400, 19px, 22.8px, $menu-color);
        }
      }
      .arrow-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 72px;

        &:hover {
          background-color: $menu-hover;
        }
      }
    }
    .assigned-dropdown-container {
      position: absolute !important;
      top: 104px;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      box-sizing: border-box;
      background-color: $bg-color;
      overflow-y: scroll;
      max-height: 160px;
      border: 1px solid $black !important;
      z-index: 5;

      .assigned-user {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 440px;
        height: 59px;
        padding: 12px 16px 12px 16px;

        .assigned-user-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;

          .assigned-user-Initials {
            @include OpenSans(400, 19px, 22.8px, $white);
          }
        }
        h2 {
          @include OpenSans(700, 19px, 22.8px, $menu-color);
        }
        span {
          @include OpenSans(400, 19px, 22.8px, $menu-color);
        }
      }
    }
  }
  .show-assigned-dropdown {
    display: flex !important;
  }

  .addtask-left-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 440px;
    height: 79px;
    margin-top: 22px;

    .subtask-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 460px;

      img {
        width: 24px;
        height: 24px;

        &:hover {
          cursor: pointer;
          background-color: $menu-hover;
          border-radius: 50%;
        }
      }
    }

    select {
      width: 105%;
      height: 64px;
      gap: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $input-boarder;
      background-color: $bg-color;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
    .input-wrapper {
      width: 100vw;
      max-width: 100%;
      input {
        width: 100%;
        height: 24px;
        gap: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $input-boarder;
        padding: 13px 16px 13px 16px;
        background-color: $bg-color;
        @include OpenSans(400, 19px, 22.8px, $menu-color);
        &.ng-touched,
        &.ng-dirty {
          &.ng-invalid {
            border: 1px solid $red;
            border-radius: 10px;
          }
          &.ng-valid {
            border: 1px solid $green;
            border-radius: 10px;
          }
        }
      }
    }

    .add-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -21px;
      left: 431px;
      position: absolute;
      z-index: 3;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.16);
      cursor: pointer;
      transition: all 225ms ease-in-out;

      &:hover {
        scale: (1.2);
      }
    }

    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }

    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    input {
      width: 100%;
      height: 64px;
      gap: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $input-boarder;
      padding: 12px 16px 12px 16px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 335px;
    height: 61px;
    margin-top: 32px;
    margin-left: 64px;
    gap: 4px;

    .clear-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 136px;
      height: 61px;
      border-radius: 10px;
      border-width: 1px;
      border-color: $light-gray;
      padding: 16px 10px 16px 10px;
      gap: 4px;
      @include OpenSans(400, 23px, 27.6px, $light-gray);
      cursor: pointer;
    }

    .create-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      white-space: nowrap;
      width: 174px;
      height: 60px;
      border-radius: 10px;
      border-style: none;
      background-color: $light-blue;
      padding: 16px 10px 16px 10px;
      gap: 4px;
      @include OpenSans(400, 23px, 27.6px, $white);
      cursor: pointer;

      &:disabled {
        background-color: $light-gray;
        cursor: not-allowed;
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .addtask-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-top: 78px;
    margin-left: 0px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 156px);
    max-height: 100%;
    gap: 16px;
    overflow-y: scroll;

    .addtask-right {
      margin-bottom: 165px;
    }
  }
}

@media screen and (max-width: 600px) {
  .addtask-wrapper {
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 48px;
      gap: 4px;
      margin-left: 0 !important;
      .clear-btn {
        display: none;
      }

      .create-btn {
        width: 148px;
        height: 48px;
        padding: 12px 8px 12px 8px;
        @include OpenSans(400, 19px, 22.8px, $white);

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .addtask-left {
      padding: 0px 0px 0px 0px;
    }

    .addtask-left-top {
      .input-wrapper {
        input {
          width: 84%;
        }
      }
      textarea {
        width: 90% !important;
      }
      div {
        input {
          width: 240%;
        }
      }
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }

      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }
    }
    .addtask-assigned-box {
      width: 400px;
      .assigned-dropdown-container {
        width: 320px;
        .assigned-user {
          width: 300px;
        }
      }
      .assigned-contacts {
        width: 300px;
      }
    }
    .addtask-left-bottom {
      .add-btn-container {
        left: 300px;
        bottom: -14px;
      }
      .input-wrapper {
        input {
          width: 300px;
        }
      }
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }
      select {
        width: 300px;
      }
      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }
    }
    .addtask-left-prio {
      gap: 16px;
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }

      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }

      .prio-box {
        height: 48px;
        justify-content: flex-start;
        gap: 4px;
      }
    }
    .addtask-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .addtask-wrapper {
    .addtask-assigned-box {
      width: 300px;
    }
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 48px;
      gap: 4px;
      margin-left: 0 !important;
      .clear-btn {
        display: none;
      }

      .create-btn {
        width: 148px;
        height: 48px;
        padding: 12px 8px 12px 8px;
        @include OpenSans(400, 19px, 22.8px, $white);

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .addtask-left {
      padding: 0px 0px 0px 0px;
    }

    .addtask-left-top {
      .input-wrapper {
        input {
          width: 60%;
        }
      }
      textarea {
        width: 65%!important;
      }
      div {
        input {
          width: 180%;
        }
      }
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }

      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }
    }
    .addtask-assigned-box {
      .assigned-dropdown-container {
        width: 320px;
        .assigned-user {
          width: 300px;
        }
      }
      .assigned-contacts {
        width: 300px;
      }
    }
    .addtask-left-bottom {
      .add-btn-container {
        left: 280px;
        bottom: -14px;
      }
      .input-wrapper {
        input {
          width: 280px;
        }
      }
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }
      select {
        width: 300px;
      }
      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }
    }
    .addtask-left-prio {
      gap: 16px;
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }

      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }

      .prio-box {
        height: 48px;
        width: 80%;
      }
    }
    .addtask-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

