<div class="addtask-wrapper">
    <div class="addtask-left">
        <div class="headline">
            <h1>Add Task</h1>
        </div>
        <form #addTaskForm="ngForm" (ngSubmit)="addTask(addTaskForm.value)">
        <div class="addtask-left-top">
            <input 
            #inputTitle
            formControlname="title"
            name="title"
            type="text"
            placeholder="Enter a title"
            ngModel
            >
            <h2>Description <span>(optional)</span></h2>
            <textarea 
            #inputDescription
            formControlname="description"
            name="description"
            type="text"
            placeholder="Enter a description"
            ngModel
            cols="30" rows="10"></textarea>
            <h2>Due date</h2>
            <input 
            #inputDate
            formControlname="date"
            name="date"
            type="date"
            placeholder="dd/mm/yyyy"
            ngModel
            >
        </div>
        <div class="addtask-left-prio">
            <h2>Priority <span>(optional)</span></h2>
            <div class="prio-box">
                <div class="prio-container" (click)="selectPriority('urgent')">
                    <span>Urgent</span>
                    <img src="assets/img/addtask/prio_urgent.svg" alt="prio_icon">
                </div>
                <div class="prio-container" (click)="selectPriority('medium')">
                    <span>Medium</span>
                    <img src="assets/img/addtask/prio_medium.svg" alt="prio_icon">
                </div>
                <div class="prio-container" (click)="selectPriority('low')">
                    <span>Low</span>
                    <img src="assets/img/addtask/prio_low.svg" alt="prio_icon">
                </div>
            </div>
        </div>
        <div class="addtask-left-bottom">
            <h2>Assigned to<span>(optional)</span></h2>
            <select #inputAssigned formControlname="assigned" class="inputfield-add-task" type="text" required name="assigned" ngModel>
                <option *ngFor="let contact of this.ArraysService.contacts; let i = index" class="name" value="{{ contact.name }}">{{ contact.name }}</option>
            </select>
        </div>
        <div class="addtask-left-bottom">
            <h2>Category</h2>
            <select #inputCategory formControlname="category" class="inputfield-add-task" type="text" required name="category" ngModel>
                <option value="" disabled selected>Select a category</option>
                <option class="sales" value="sales">Sales</option>
                <option class="marketing" value="marketing">Marketing</option>
                <option class="accounting" value="accounting">Accounting</option>
                <option class="development" value="development">Development</option>
                <option class="purchase" value="purchase">Purchase</option>
            </select>
        </div>
        <div class="addtask-left-bottom">
            <h2>Subtasks<span>(optional)</span></h2>
            <input
            #inputSubtask
            formControlname="subtask"
            name="subtask"
            type="text"
            placeholder="Enter a subtask"
            ngModel
            >
        </div>
    <div class="addtask-right">
        <div class="btn-container">
            <button type="button" class="clear-btn">Clear<img src="assets/img/addtask/clear_btn.svg"></button>
            <button type="submit" class="create-btn">Create Task<img src="assets/img/addtask/create_btn.svg"></button>
        </div>
        
    </div>
    </form>
</div>