<div class="privacy-wrapper">
    <div class="privacy-headline">
        <h1>Privacy Policy</h1>
        <img (click)="selectComponent('app-summary-dashboard')"  src="assets/img/legal-notice/arrow-left-line.svg" alt="icon" class="icon-legal">
    
    </div>
    <div class="privacy-content">
        <h2>Subtitle</h2>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia consequuntur libero soluta mollitia ea, fugiat numquam iure! Quisquam recusandae quidem reiciendis unde ea assumenda modi iusto? Placeat voluptatibus mollitia cumque?</span>
        <h2>Subtitle</h2>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia consequuntur libero soluta mollitia ea, fugiat numquam iure! Quisquam recusandae quidem reiciendis unde ea assumenda modi iusto? Placeat voluptatibus mollitia cumque?</span>
        </div>    
</div>
