@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.privacy-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 96px;
    margin-left: 232px;
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    gap: 30px;
    padding-left: 32px;
    background-color: $bg-color;
    .privacy-headline {
        display: flex;
        justify-content: space-between;
        width: 90%;
        h1 {
        @include OpenSans(700, 61px, 73.2px, $black);
        }
        img {
            cursor: pointer;
        }
    }

    .privacy-content {
        h2 {
            @include OpenSans(700, 33px, 39.6px, $medium-light-blue);
        }

        span {
            @include OpenSans(400, 16px, 19.2px, $black);
        }
    }
}

@media screen and (max-width: 1200px) {
    .privacy-wrapper {
        margin-top: 0px;
        padding-top: 80px;
        margin-left: 0px;
        width: 100vw;
        max-width: 100%;
        height: calc(100vh - 156px);
        gap: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }
}