@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.legal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 96px;
  padding-left: 264px;
  padding-right: 16px;
  width: 100vw ;
  height: calc(100vh - 96px);
  gap: 30px;
  background-color: $bg-color;
  .legal-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h1 {
      @include OpenSans(700, 61px, 73.2px, $black);
    }
    img {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }

  .legal-content {
    h2 {
      @include OpenSans(700, 33px, 39.6px, $light-blue);
    }
    h3 {
      @include OpenSans(700, 19px, 22.8px, $medium-light-blue);
    }
    h4 {
      @include OpenSans(400, 16px, 19.2px, $light-blue);
    }
    span {
      @include OpenSans(400, 16px, 19.2px, $black);
      .blue {
        color: $light-blue;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .legal-wrapper {
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 156px);
    gap: 30px;
  }
}

@media screen and (max-width: 850px) {
    .legal-wrapper {
      height: calc(130vh - 156px);
    }
  }

@media screen and (max-width: 550px) {
    .legal-wrapper {
      height: calc(150vh - 156px);
    }
  }

  @media screen and (max-width: 420px) {
    .legal-wrapper {
      height: calc(180vh - 156px);
    }
  }


  .show {
    display: flex!important;
}

.privacy-wrapper {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    gap: 30px;
    background-color: $bg-color;

    overflow-y: scroll;
    overflow-x: hidden;

    .header {
        box-sizing: border-box;
        padding: 20px 39px 20px 39px;
        width: 100vw;
        height: 96px;
        background-color: $light-blue;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: flex-start;
    }

    .privacy-headline {
        display: flex;
        justify-content: space-between;
        width: 90%;
        h1 {
        @include OpenSans(700, 61px, 73.2px, $black);
        }
        img {
            cursor: pointer;
        }
    }

    .privacy-content {
        h2 {
            @include OpenSans(700, 33px, 39.6px, $medium-light-blue);
        }

        span {
            @include OpenSans(400, 16px, 19.2px, $black);
        }
    }
}

@media screen and (max-width: 1200px) {
    .privacy-wrapper {
        margin-top: 0px;
        padding-top: 80px;
        width: 100vw;
        height: 100vh;
        gap: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .privacy-content {
    }
}

.legal-wrapper {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    gap: 30px;
    background-color: $bg-color;

    overflow-y: scroll;
    overflow-x: hidden;

    .header {
        box-sizing: border-box;
        padding: 20px 39px 20px 39px;
        width: 100vw;
        height: 96px;
        background-color: $light-blue;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: flex-start;
    }
    .legal-headline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      h1 {
        @include OpenSans(700, 61px, 73.2px, $black);
      }
      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
  
    .legal-content {
      h2 {
        @include OpenSans(700, 33px, 39.6px, $light-blue);
      }
      h3 {
        @include OpenSans(700, 19px, 22.8px, $medium-light-blue);
      }
      h4 {
        @include OpenSans(400, 16px, 19.2px, $light-blue);
      }
      span {
        @include OpenSans(400, 16px, 19.2px, $black);
        .blue {
          color: $light-blue;
        }
      }
    }
  }
  
  @media screen and (max-width: 1200px) {
    .legal-wrapper {
        margin-top: 0px;
        padding-top: 80px;
        width: 100vw;
        height: 100vh;
        gap: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }
  }
