<div class="signup-wrapper">
    <div class="signup-header">
      <div class="signup-header-left">
        <img src="assets/img/join_logo_white.png" alt="logo" />
      </div>
    </div>
  
  
    <div class="signup-box">
      <h1>Sign up</h1>
      <form action="">
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Confirm Password" />
        <div class="signup-checkbox">
          <input type="checkbox" id="accept-pp" />
          <span>I accept the <a href="#">Privacy Policy</a></span>
        </div>
        <div class="btn-container">
          <button class="signup-btn">Sign up</button>
        </div>
      </form>
    </div>
  
  
    <div class="signup-footer">
      <div class="signup-footer-left">
        <a href="#">Privacy Policy</a>
      </div>
      <div class="signup-footer-right">
          <a href="#">Legal Notice</a>
      </div>
    </div>
  </div>
  
