<div class="signup-wrapper">
  <!--Hidden Popup-->
  <div #successPopUp class="popup-wrapper">
    <div class="success-popup">
      <span>You Signed Up successfully</span>
    </div>
  </div>
  <!--Hidden Popup-->
  <div class="signup-header">
    <div class="signup-header-left">
      <img src="assets/img/join_logo_white.png" alt="logo" />
    </div>
  </div>

  <div class="signup-box">
    <div class="signup-top">
      <img
        (click)="redirectToLogin()"
        src="assets/img/signup/arrow-left-line.svg"
      />
      <h1>Sign up</h1>
    </div>

    <form
      [formGroup]="this.LoginService.signUpForm"
      (ngSubmit)="signUp(this.LoginService.signUpForm.value)"
    >
      <div>
        <input placeholder="Name" type="text" formControlName="name" />
      </div>
      <ng-container
        *ngIf="
          this.LoginService.signUpForm.controls['name'].dirty ||
          this.LoginService.signUpForm.controls['name'].touched
        "
      >
        <p
          class="error-message"
          *ngIf="this.LoginService.signUpForm.controls['name'].errors"
        >
          Enter correct Name
        </p>
      </ng-container>
      <div>
        <input placeholder="Email" type="email" formControlName="email" />
      </div>
      <ng-container
        *ngIf="
          this.LoginService.signUpForm.controls['email'].dirty ||
          this.LoginService.signUpForm.controls['email'].touched
        "
      >
        <p
          class="error-message"
          *ngIf="this.LoginService.signUpForm.controls['email'].errors"
        >
          Enter vaild Email adress
        </p>
      </ng-container>

      <div>
        <input
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </div>
      <ng-container
        *ngIf="
          this.LoginService.signUpForm.controls['password'].dirty ||
          this.LoginService.signUpForm.controls['password'].touched
        "
      >
        <p
          class="error-message"
          *ngIf="this.LoginService.signUpForm.controls['password'].errors"
        >
          Enter vaild password. min 4 char
        </p>
      </ng-container>
      <div>
        <input
          placeholder="Confirm password"
          type="password"
          formControlName="confirmPassword"
        />
      </div>
      <ng-container
        *ngIf="
          this.LoginService.signUpForm.controls['confirmPassword'].dirty ||
          this.LoginService.signUpForm.controls['confirmPassword'].touched ||
          this.LoginService.signUpForm.controls['password'].value !==
            this.LoginService.signUpForm.controls['confirmPassword'].value
        "
      >
        <p
          class="error-message"
          *ngIf="
            this.LoginService.signUpForm.controls['confirmPassword'].errors
          "
        >
          Confirmed password doesn't match password!
        </p>
      </ng-container>
      <div class="btn-container">
        <button
          [disabled]="
            !(
              this.LoginService.signUpForm.valid &&
              (this.LoginService.signUpForm.dirty ||
                this.LoginService.signUpForm.touched)
            )
          "
          type="submit"
          class="signup-btn"
        >
          Sign up
        </button>
      </div>
    </form>
  </div>

  <div class="signup-footer">
    <div class="signup-footer-left">
      <a href="#">Privacy Policy</a>
    </div>
    <div class="signup-footer-right">
      <a href="#">Legal Notice</a>
    </div>
  </div>
</div>
