@import"src/assets/styles/colors.scss";
@import"src/assets/styles/fonts.scss";
.signup-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    width: 100vw;
    max-width: 100%;
    background-color: $light-blue;
}

.signup-header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 77px;
    padding-right: 77px;
    padding-top: 80px;
}

.signup-header-left {

    img {
        width:100px;
        height: 122px;
    }
}


.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 598px;
    max-height: 607px;
    border-radius: 30px;
    border-style: none;
    gap: 35px;
    padding: 48px 88px 48px 88px;
    background-color: $white;

    h1 {
        @include OpenSans(700, 48px, 57.6px, $black);
        text-decoration: underline;
        text-decoration-color: $light-blue;
        text-decoration-thickness: 3px;
        text-underline-offset: 3px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .signup-btn{
            white-space: nowrap;
            width: 135px;
            height: 48px;
            border-radius: 8px;
            border-style: none;
            background-color: $light-blue;
            padding: 10px 35px 10px 35px;
            @include OpenSans(400, 23px, 27.6px, $white);
            cursor: pointer;
        }

    }
    span {
        display: flex;  
        justify-content: center;
        align-items: center;
        @include OpenSans(400, 16px, 19.2px, $black);

        a {
            text-decoration: none;
            color: $light-blue;
            margin-left: 10px;
        }
    }

    input {
        max-width: 422px; 
        height: 48px;
        border: 0px 0px 1px 0px solid $light-gray;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 12px 21px 12px 21px;
    }

    .signup-checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.signup-footer {
    display: flex;
    width: 240px;
    height: 35px;
    @include OpenSans(400, 16px, 19.2px, $menu-color);

    a { 
        text-decoration: none;
        color: $white;
        gap: 8px;
        padding: 8px;
    }
}

@media screen and (max-width: 750px) {
    .signup-header-left {

        img {
            width: 64px;
            height: 78px;
        }
    }
    .signup-box {
        width: 300px;
        height: 607px;
        gap: 32px;
        padding: 32px 0px 32px 0px;
    
        h1 {
            @include OpenSans(700, 47px, 56.4px, $black);
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        
        .btn-container {
    
            .signup-btn{
                white-space: nowrap;
                width: 180px;
                height: 48px;
                padding: 4px 0px 4px 0px;
                @include OpenSans(400, 19px, 22.8px, $white);
            }
    
        }
        span {
            display: flex;  
            justify-content: center;
            align-items: center;
            @include OpenSans(400, 16px, 19.2px, $black);
    
            a {
                text-decoration: none;
                color: $light-blue;
                margin-left: 10px;
            }
        }
    
        input {
            max-width: 364px; 
            height: 48px;
            padding: 12px 21px 12px 21px;
        }
    
        .signup-checkbox {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

