@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.board-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 96px;
  margin-left: 238px;
  width: calc(100vw - 238px);
  height: calc(100vh - 96px);
  padding-left: 16px;
  padding-right: 16px;
  gap: 72px;
  background-color: $bg-color;
  
  .floating-task-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    top: -96px;
    left: -232px;
    min-width: 100vw;
    min-height: 100vh;
    max-width: calc(100vw + 232px);
    max-height: calc(100% + 96px);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.4);
    animation: changeBgColor 1s;
    transition: 225ms ease-in-out all;
    overflow: hidden;

    @keyframes changeBgColor {
      0% {
        background-color: rgba(255, 255, 255, 0);
      }
      100% {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }

    .floating-task-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
      width: 528px;
      height: 932px;
      border-radius: 30px;
      padding: 48px 40px 48px 40px;
      gap: 24px;
      background-color: $white;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
      animation: slide-in-bottom 1s;
      transition: 225ms ease-in-out all;

      @keyframes slide-in-bottom {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }

      .floating-task-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 448px;
        height: 36px;

        .floating-task-category {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 36px;
          border-radius: 8px;
          padding: 4px 24px 4px 24px;
          gap: 10px;
          background-color: #ff7a00;

          span {
            @include OpenSans(400, 23px, 27.6px, $white);
          }
        }
      }
      .floating-task-content {
        .floating-task-title {
          h1 {
            @include OpenSans(700, 61px, 73.2px, $black);
          }
        }
        .floating-task-description {
          span {
            @include OpenSans(400, 23px, 27.6px, $board-text);
          }
        }
        .floating-task-date {
            display: flex;
            align-items: center;
          h2 {
            @include Inter(700, 21px, 25.2px, $menu-color);
          }
          span {
            @include Inter(400, 19px, 22.8px, $menu-color);
          }
        }
        .floating-task-prio {
            display: flex;
            align-items: center;
            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              @include Inter(400, 19px, 22.8px, $menu-color);
            }
          }
          .floating-task-assign {
            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              @include Inter(400, 19px, 22.8px, $menu-color);
            }
          }
          .floating-task-subtask {
            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              @include Inter(400, 19px, 22.8px, $menu-color);
            }
          }
      }
    }
  }
  .show-floating-container {
    display: flex;
  }
  .board-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 51px;
    padding: 72px 0px 16px 0px;
    gap: 35px;

    input {
      width: 312px;
      height: 48px;
      border-radius: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: $board-text;
    }
    .addtask-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      white-space: nowrap;
      width: 138px;
      height: 51px;
      border-radius: 10px;
      border-style: none;
      background-color: $light-blue;
      padding: 16px 10px 16px 10px;
      gap: 10px;
      @include OpenSans(400, 23px, 27.6px, $white);
      cursor: pointer;
    }
  }
  .task-category-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding: 0px 0px 64px;
    gap: 24px;

    .category {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 25%;
      height: 100%;
      gap: 24px;
    }

    .drag-area-heighlight {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      background-color: rgba(0,0,0, 0.2);
    }

    .headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 28px;

      h2 {
        @include OpenSans(700, 23px, 27.6px, $menu-color);
      }

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
    .task-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 700px;

      .no-task-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: $bg-color-no-task;
        border: dotted 2px $boarder-color-board;
        text-align: center;

        h2 {
          @include OpenSans(400, 16px, 19.2px, $board-text);
        }
        
      }
    }

    .single-task {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      padding: 16px;
      .task-category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 27px;
        border-radius: 8px;
        padding: 4px 16px 4px 16px;
        gap: 10px;
        background-color: #ff7a00;
        @include OpenSans(400, 16px, 19.2px, $white);
      }

      .task-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 84px;
        gap: 8px;

        .task-name {
          width: 220px;
          height: 38px;
          @include OpenSans(700, 16px, 19.2px, $light-blue);
        }

        .task-description {
          width: 220px;
          height: 38px;
          @include OpenSans(400, 16px, 19.2px, $board-text);
        }
      }

      .single-task-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 32px;
      }

    }
  }
}


@media screen and (max-width: 1200px) {
  .board-wrapper {
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 156px);
    margin-top: 80px;
    margin-left: 0;
    padding-left: unset;
    padding-right: unset;

    .board-top {
      padding: unset;
      .addtask-btn {
        display: none;
      }
    }
    .floating-task-wrapper {
      left: unset;
      min-width: unset;
      width: 100vw;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .board-wrapper {
    gap: unset;
    height: calc(100vh - 160px);



    .task-category-wrapper {
      flex-wrap: wrap;
      gap: unset;
      padding: 0px 0px 0px 0px;
      .category {
        flex-basis: 100%;
        height: unset;
      }
      .task-container {
        height: unset;
      }
    }

  }
}
