<div class="board-wrapper">
    <div class="board-top">
        <div class="search">
            <input type="text" placeholder="Find Task">
        </div>
            <button class="addtask-btn">Add task <img src="assets/img/board/addtask_btn.svg"></button>
    </div>
    <div class="task-category-wrapper">
        <div class="category">
            <div class="headline">
                <h2>To do</h2>
                <img src="assets/img/board/plus button.svg">
            </div>
            <div class="task-container">
                <div class="single-task">
                    <div class="task-category">
                        User Story
                    </div>
                    <div class="task-content">
                        <div class="task-name">
                            Kochwelt Page & Recipe Recommender
                        </div>
                        <div class="task-description">
                            Build start page with recipe recommendation...
                        </div>
                    </div>
                    <div class="progressbar">
                        
                    </div>
                    <div class="single-task-bottom">
                        <div class="assigned-contacts">Placeholder</div>
                        <img class="prio" src="assets/img/board/prio_urgent.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="headline">
                <h2>In progress</h2>
                <img src="assets/img/board/plus button.svg">
            </div>
            <div class="task-container">
                <div class="single-task"></div>
            </div>
        </div>
        <div class="category">
            <div class="headline">
                <h2>Await feedback</h2>
                <img src="assets/img/board/plus button.svg">
            </div>
            <div class="task-container">
                <div class="single-task"></div>
            </div>
        </div>
        <div class="category">
            <div class="headline">
                <h2>Done</h2>
                <img src="assets/img/board/plus button.svg">
            </div>
            <div class="task-container">
                <div class="single-task"></div>
            </div>
        </div>
    </div>



</div>
