@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.board-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 96px;
  margin-left: 238px;
  width: calc(100vw - 238px);
  height: calc(100vh - 96px);
  padding-left: 16px;
  padding-right: 16px;
  gap: 72px;
  overflow-y: scroll;
  overflow-x: hidden;

  .popup-container {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(255, 254, 247, 0.4);
    z-index: 3;
    transition: all 0.2s ease-in-out;
    .create-popup {
      width: 326px;
      height: 74px;
      border-radius: 20px;
      background-color: $light-blue;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 225ms ease-in-out;
      animation: slide-up 1s;
      @keyframes slide-up {
        0% {
          transform: translateY(850%);
        }
        100% {
          transform: translateY(0);
        }
      }
      span {
        @include OpenSans(400, 23px, 27.6px, $white);
      }
    }
  }

  .showPopup {
    display: flex !important;
    transition: all 0.2s ease-in-out;
  }

  .floating-task-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    top: -96px;
    left: -232px;
    min-width: 100vw;
    min-height: 100vh;
    max-width: calc(100vw + 232px);
    max-height: calc(100% + 96px);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.4);
    animation: changeBgColor 1s;
    transition: 225ms ease-in-out all;
    overflow: hidden;

    @keyframes changeBgColor {
      0% {
        background-color: rgba(255, 255, 255, 0);
      }
      100% {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }

    .floating-close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $input-boarder;
      width: 32px;
      height: 32px;
      cursor: pointer;

      &:hover {
        transition: all 225ms ease-in-out;
        scale: 1.15;
      }
    }

    .floating-task-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
      width: 528px;
      height: 932px;
      border-radius: 30px;
      padding: 48px 40px 48px 40px;
      gap: 24px;
      background-color: $white;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
      animation: slide-in-bottom 1s;
      transition: 225ms ease-in-out all;

      @keyframes slide-in-bottom {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }

      .floating-task-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 448px;
        height: 36px;

        .floating-task-category {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 36px;
          border-radius: 8px;
          padding: 4px 24px 4px 24px;
          gap: 10px;
          background-color: #ff7a00;

          span {
            @include OpenSans(400, 23px, 27.6px, $white);
          }
        }
      }
      .floating-task-content {
        .floating-task-title {
          h1 {
            margin-block-start: 0;
            margin-block-end: 0;
            @include OpenSans(700, 61px, 73.2px, $black);
          }
        }
        .floating-task-description {
          h2 {
            @include OpenSans(400, 19px, 22.8px, $black);
          }
        }
        .floating-task-date {
          display: flex;
          align-items: center;
          h2 {
            @include Inter(700, 21px, 25.2px, $menu-color);
          }
          span {
            margin-left: 24px;
            @include OpenSans(400, 19px, 22.8px, $menu-color);
          }
        }
        .floating-task-prio {
          display: flex;
          align-items: center;
          h2 {
            @include Inter(700, 21px, 25.2px, $menu-color);
          }
          span {
            margin-left: 24px;
            @include OpenSans(400, 19px, 22.8px, $menu-color);
          }
        }
        .floating-task-assign-wrapper {
          .assigned-wrapper {
            display: flex;
            .assigned-box {
              margin-left: -8px;

              .contacts-usercircle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 42px;
                height: 42px;
                border: solid 1px $white;
                border-radius: 50%;
                @include Inter(400, 12px, 14.4px, $white);
              }
            }

            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              @include OpenSans(400, 19px, 22.8px, $menu-color);
            }
          }
          .floating-task-subtask {
            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              @include OpenSans(400, 19px, 22.8px, $menu-color);
            }
          }
        }
      }
    }
  }
  .floating-task-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 8px;

    .floating-task-btn-cancel {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 86px;
      height: 24px;
      border-style: none;
      background-color: $white;
      gap: 8px;
      cursor: pointer;
      border-radius: 10px;
      padding: 16px;
      &:hover {
        scale: 1.05;
        background-color: rgba(0, 0, 0, 0.16);
      }
    }

    .floating-task-btn-edit {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 68px;
      height: 24px;
      border-style: none;
      background-color: $white;
      gap: 8px;
      cursor: pointer;
      border-radius: 10px;
      padding: 16px;

      &:hover {
        scale: 1.05;
        background-color: rgba(0, 0, 0, 0.16);
      }
    }
  }
  .show-floating-container {
    display: flex;
  }
  .board-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 51px;
    padding: 72px 0px 16px 0px;
    gap: 35px;

    input {
      width: 312px;
      height: 48px;
      border-radius: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: $board-text;
      cursor: pointer;
    }
    .addtask-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      white-space: nowrap;
      width: 138px;
      height: 51px;
      border-radius: 10px;
      border-style: none;
      background-color: $light-blue;
      padding: 16px 10px 16px 10px;
      gap: 10px;
      @include OpenSans(400, 23px, 27.6px, $white);
      cursor: pointer;

      &:hover {
        transition: all 225ms ease-in-out;

        scale: 1.05;
        background-color: $light-blue;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
        opacity: 0.9;
      }
    }
  }

  .display-none {
    display: none !important;
  }

  .task-category-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding: 0px 0px 64px;
    gap: 24px;

    .category {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 25%;
      height: 100%;
      gap: 24px;
    }

    .drag-area-heighlight {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 94%;
      height: 28px;

      h2 {
        @include OpenSans(700, 23px, 27.6px, $menu-color);
      }

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;

        &:hover {
          transition: all 225ms ease-in-out;
          scale: 1.15;
        }
      }
    }
    .task-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 700px;

      .no-task-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: $bg-color-no-task;
        border: dotted 2px $boarder-color-board;
        text-align: center;

        h2 {
          @include OpenSans(400, 16px, 19.2px, $board-text);
        }
      }
    }

    .single-task {
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 225px;
      gap: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      padding: 16px;
      cursor: pointer;
      margin-bottom: 8px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.16);
        opacity: 0.85;
        transition: all 225ms ease-in-out;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.719);
        scale: 1.01;
      }

      .single-task-top {
        display: none;
        justify-content: space-between;
        width: 100%;

        .btn-container {
          position: absolute;
          right: 24px;
          .btn-up {
            margin-bottom: 8px;
            img {
              width: 64px;
              height: 64px;
            }
          }
          .btn-down {
            margin-top: 8px;
            img {
              width: 64px;
              height: 64px;
            }
          }
        }
      }

      .task-category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 27px;
        border-radius: 8px;
        padding: 4px 16px 4px 16px;
        gap: 10px;
        background-color: #ff7a00;
        @include OpenSans(400, 16px, 19.2px, $white);
      }

      .task-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 84px;
        gap: 8px;

        .task-name {
          width: 220px;
          height: 16px;
          @include OpenSans(700, 16px, 19.2px, $light-blue);
        }

        .task-description {
          margin-top: 16px;
          margin-bottom: 16px;
          width: 220px;
          height: 12px;
          @include OpenSans(400, 16px, 19.2px, $board-text);
        }
      }

      .progressbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 100px;
        progress {
          width: 120px;
          height: 32px;
        }
        span {
          @include OpenSans(400, 16px, 19.2px, $board-text);
        }
      }

      .single-task-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 88%;
        height: 32px;
        position: absolute;
        top: 182px;
        right: 16px;

        .assigned-box {
          margin-left: -8px;
        }
        .assigned-contacts {
          display: flex;
        }
        .contacts-usercircle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border: solid 1px $white;
          border-radius: 50%;
          @include Inter(400, 12px, 14.4px, $white);
        }
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  .board-wrapper {
    
    .task-category-wrapper{
      width: 90%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .board-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    margin-top: 80px;
    margin-left: 0;
    padding-left: unset;
    padding-right: unset;
    overflow: hidden;
    .task-category-wrapper{
      width: 100%;
    }
    .board-top {
      padding: unset;

      .search {
        input {
          cursor: pointer;
          width: 100%;
        }
      }
      .addtask-btn {
        display: none;
      }
    }
    .floating-task-wrapper {
      left: unset;
      min-width: unset;
      min-height: unset;
      width: 100vw;
      height: 100%;
      max-width: 100%;
      top: unset;
    }
  }
}

@media screen and (max-width: 1100px) {
  .board-wrapper {
    gap: unset;
    height: calc(100vh - 160px);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    overflow-y: scroll;
    .task-category-wrapper {
      flex-wrap: wrap;
      gap: unset;
      padding: 0px 0px 0px 0px;

      .headline {
        width: 100%;
        margin-bottom: 16px;
      }
      .category {
        flex-basis: 100%;
        height: unset;
      }
      .task-container {
        height: unset;

        .single-task {
          width: 100vw;
          max-width: 95%;
          height: 265px;
          .progressbar {
            top: 145px;
          }
          .single-task-bottom {
            right: 4px !important;
            top: 225px !important;
            width: 95%;
            .assigned-contacts {
              .assigned-box {
              }
            }
          }
          .single-task-top {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .btn-container {
              .btn-up {
                margin-bottom: 16px;
              }
              .btn-down {
                margin-top: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .board-wrapper {
    .floating-task-wrapper {
      .floating-task-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        width: 420px;
        height: 932px;
        border-radius: 30px;
        padding: 28px 20px 28px 20px;
        gap: 24px;
        background-color: $white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
        animation: slide-in-bottom 1s;
        transition: 225ms ease-in-out all;

        @keyframes slide-in-bottom {
          0% {
            transform: translateY(100%);
          }
          100% {
            transform: translateY(0);
          }
        }

        .floating-task-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 390px;
          height: 36px;

          .floating-task-category {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 36px;
            border-radius: 8px;
            padding: 4px 24px 4px 24px;
            gap: 10px;
            background-color: #ff7a00;

            span {
              @include OpenSans(400, 23px, 27.6px, $white);
            }
          }
        }
        .floating-task-content {
          .floating-task-title {
            h1 {
              margin-block-start: 0;
              margin-block-end: 0;
              @include OpenSans(700, 61px, 73.2px, $black);
            }
          }
          .floating-task-description {
            h2 {
              @include OpenSans(400, 19px, 22.8px, $black);
            }
          }
          .floating-task-date {
            display: flex;
            align-items: center;
            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              margin-left: 24px;
              @include OpenSans(400, 19px, 22.8px, $menu-color);
            }
          }
          .floating-task-prio {
            display: flex;
            align-items: center;
            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              margin-left: 24px;
              @include OpenSans(400, 19px, 22.8px, $menu-color);
            }
          }
          .floating-task-assign-wrapper {
            .assigned-wrapper {
              display: flex;
              .assigned-box {
                margin-left: -8px;

                .contacts-usercircle {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 42px;
                  height: 42px;
                  border: solid 1px $white;
                  border-radius: 50%;
                  @include Inter(400, 12px, 14.4px, $white);
                }
              }

              h2 {
                @include Inter(700, 21px, 25.2px, $menu-color);
              }
              span {
                @include OpenSans(400, 19px, 22.8px, $menu-color);
              }
            }
            .floating-task-subtask {
              h2 {
                @include Inter(700, 21px, 25.2px, $menu-color);
              }
              span {
                @include OpenSans(400, 19px, 22.8px, $menu-color);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .board-wrapper {
    gap: unset;
    height: calc(100vh - 160px);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    overflow-y: scroll;
    .floating-task-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-height: 100%;
      height: 100vh;
      .floating-task-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        width: 100vw;
        max-width: 98%;
        height: 100vh;
        max-height: 100%;
        border-radius: 30px;
        padding: 28px 20px 28px 20px;
        gap: 24px;
        background-color: $white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
        animation: slide-in-bottom 1s;
        transition: 225ms ease-in-out all;

        @keyframes slide-in-bottom {
          0% {
            transform: translateY(100%);
          }
          100% {
            transform: translateY(0);
          }
        }

        .floating-task-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 245px;
          height: 36px;

          .floating-task-category {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 36px;
            border-radius: 8px;
            padding: 4px 24px 4px 24px;
            gap: 10px;
            background-color: #ff7a00;

            span {
              @include OpenSans(400, 23px, 27.6px, $white);
            }
          }
        }
        .floating-task-content {
          .floating-task-title {
            h1 {
              margin-block-start: 0;
              margin-block-end: 0;
              @include OpenSans(700, 32px, 36.2px, $black);
            }
          }
          .floating-task-description {
            h2 {
              @include OpenSans(400, 19px, 22.8px, $black);
            }
          }
          .floating-task-date {
            display: flex;
            align-items: center;
            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              margin-left: 24px;
              @include OpenSans(400, 19px, 22.8px, $menu-color);
            }
          }
          .floating-task-prio {
            display: flex;
            align-items: center;
            h2 {
              @include Inter(700, 21px, 25.2px, $menu-color);
            }
            span {
              margin-left: 24px;
              @include OpenSans(400, 19px, 22.8px, $menu-color);
            }
          }
          .floating-task-assign-wrapper {
            .assigned-wrapper {
              display: flex;
              .assigned-box {
                margin-left: -8px;

                .contacts-usercircle {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 42px;
                  height: 42px;
                  border: solid 1px $white;
                  border-radius: 50%;
                  @include Inter(400, 12px, 14.4px, $white);
                }
              }

              h2 {
                @include Inter(700, 21px, 25.2px, $menu-color);
              }
              span {
                @include OpenSans(400, 19px, 22.8px, $menu-color);
              }
            }
            .floating-task-subtask {
              h2 {
                @include Inter(700, 21px, 25.2px, $menu-color);
              }
              span {
                @include OpenSans(400, 19px, 22.8px, $menu-color);
              }
            }
          }
        }
      }
    }

    .task-category-wrapper {
      flex-wrap: wrap;
      gap: unset;
      padding: 0px 0px 0px 0px;

      .headline {
        width: 100%;
        margin-bottom: 16px;
      }
      .category {
        flex-basis: 100%;
        height: unset;
      }
      .task-container {
        height: unset;

        .single-task {
          width: 100vw;
          max-width: 90%;

          .single-task-top {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .btn-container {
              .btn-up {
                margin-bottom: 16px;
              }
              .btn-down {
                margin-top: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.show-addtask-wrapper {
  display: flex !important;
}
.addtask-wrapper {
  position: absolute;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: calc(100vw - 252px);
  height: calc(100vh - 96px);
  background-color: $bg-color;
  overflow: hidden;
  z-index: 2;
  animation: slide-in-right 1.5s ease-in-out;

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .error-message {
    @include OpenSans(700, 16px, 18.8px, $red);
    margin-block-start: unset;
    margin-block-end: unset;
  }

  .addtask-left {
    box-sizing: border-box;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    padding: 0px 24px 0px 24px;
    gap: 24px;

    form {
      position: relative input {
        width: 100%;
      }
    }
  }

  .headline {
    h1 {
      @include OpenSans(400, 48px, 57.6px, $dashboard-headline);
    }
  }

  .addtask-left-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 440px;
    height: 361px;
    gap: 12px;

    .input-wrapper {
      width: 100vw;
      max-width: 100%;
      input {
        width: 100%;
        height: 24px;
        gap: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $input-boarder;
        padding: 13px 16px 13px 16px;

        &.ng-touched,
        &.ng-dirty {
          &.ng-invalid {
            border: 1px solid $red;
            border-radius: 10px;
          }
          &.ng-valid {
            border: 1px solid $green;
            border-radius: 10px;
          }
        }
      }
    }
    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }
    input {
      border-style: dashed;
      background-color: $bg-color;
      width: 460px;
      height: 64px;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    textarea {
      width: 100vw !important;
      max-width: 105%;
      height: 123px;
      gap: 4px;
      background-color: $bg-color;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
  }

  .addtask-left-prio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }

    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    .prio-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 51px;
      gap: 16px;

      .prio-container-urgent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $urgent;
        }
        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $urgent;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .prio-container-medium {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $medium;
        }
        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $medium;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .prio-container-low {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $low;
        }

        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $low;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .assign-color-urgent {
        background-color: $urgent;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
      .assign-color-medium {
        background-color: $medium;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
      .assign-color-low {
        background-color: $low;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
    }
  }
  .addtask-assigned-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 440px;
    height: 79px;
    margin-top: 22px;
    background-color: $bg-color;

    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
      span {
        @include OpenSans(400, 19px, 22.8px, $menu-color);
      }
    }
    .assigned-contacts {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .assigned-dropdown-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 440px;
        height: 22px;
        gap: 8px;
        padding: unset;
        border: 0px 0px 1px 0px solid $input-boarder;
        background-color: $bg-color;
        span {
          @include OpenSans(400, 19px, 22.8px, $menu-color);
        }
      }
      .arrow-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 72px;

        &:hover {
          background-color: $menu-hover;
        }
      }
    }
    .assigned-dropdown-container {
      position: absolute !important;
      top: 104px;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      box-sizing: border-box;
      background-color: $bg-color;
      overflow-y: scroll;
      max-height: 160px;
      border: 1px solid $black !important;
      z-index: 5;

      .assigned-user {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 440px;
        height: 59px;
        padding: 12px 16px 12px 16px;

        .assigned-user-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;

          .assigned-user-Initials {
            @include OpenSans(400, 19px, 22.8px, $white);
          }
        }
        h2 {
          @include OpenSans(700, 19px, 22.8px, $menu-color);
        }
        span {
          @include OpenSans(400, 19px, 22.8px, $menu-color);
        }
      }
    }
  }
  .show-assigned-dropdown {
    display: flex !important;
  }

  .addtask-left-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 440px;
    height: 79px;
    margin-top: 22px;

    .subtask-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 460px;

      img {
        width: 24px;
        height: 24px;

        &:hover {
          cursor: pointer;
          background-color: $menu-hover;
          border-radius: 50%;
        }
      }
    }

    select {
      width: 105%;
      height: 64px;
      gap: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $input-boarder;
      background-color: $bg-color;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
    .input-wrapper {
      width: 100vw;
      max-width: 100%;
      input {
        width: 100%;
        height: 24px;
        gap: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $input-boarder;
        padding: 13px 16px 13px 16px;
        background-color: $bg-color;
        @include OpenSans(400, 19px, 22.8px, $menu-color);
        &.ng-touched,
        &.ng-dirty {
          &.ng-invalid {
            border: 1px solid $red;
            border-radius: 10px;
          }
          &.ng-valid {
            border: 1px solid $green;
            border-radius: 10px;
          }
        }
      }
    }

    .add-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -21px;
      left: 431px;
      position: absolute;
      z-index: 3;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.16);
      cursor: pointer;
      transition: all 225ms ease-in-out;

      &:hover {
        scale: (1.2);
      }
    }

    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }

    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    input {
      width: 100%;
      height: 64px;
      gap: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $input-boarder;
      padding: 12px 16px 12px 16px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 335px;
    height: 61px;
    margin-top: 32px;
    margin-left: 64px;
    gap: 4px;

    .clear-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 136px;
      height: 61px;
      border-radius: 10px;
      border-width: 1px;
      border-color: $light-gray;
      padding: 16px 10px 16px 10px;
      gap: 4px;
      @include OpenSans(400, 23px, 27.6px, $light-gray);
      cursor: pointer;
    }

    .create-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      white-space: nowrap;
      width: 174px;
      height: 60px;
      border-radius: 10px;
      border-style: none;
      background-color: $light-blue;
      padding: 16px 10px 16px 10px;
      gap: 4px;
      @include OpenSans(400, 23px, 27.6px, $white);
      cursor: pointer;

      &:disabled {
        background-color: $light-gray;
        cursor: not-allowed;
      }
    }
  }
}



@media screen and (max-width: 1200px) {
  .addtask-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: calc(100vh - 180px);
    max-height: 100%;
    gap: 16px;
    overflow-y: scroll;
    top: 0;
    .addtask-right {
      margin-bottom: 165px;
    }
  }
}

@media screen and (max-width: 600px) {
  .addtask-wrapper {
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 48px;
      gap: 4px;
      margin-left: 0 !important;
      .clear-btn {
        display: none;
      }

      .create-btn {
        width: 148px;
        height: 48px;
        padding: 12px 8px 12px 8px;
        @include OpenSans(400, 19px, 22.8px, $white);

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .addtask-left {
      padding: 0px 0px 0px 0px;
    }

    .addtask-left-top {
      .input-wrapper {
        input {
          width: 84%;
        }
      }
      textarea {
        width: 90% !important;
      }
      div {
        input {
          width: 240%;
        }
      }
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }

      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }
    }
    .addtask-assigned-box {
      .assigned-dropdown-container {
        width: 320px;
        .assigned-user {
          width: 300px;
        }
      }
      .assigned-contacts {
        width: 300px;
      }
    }
    .addtask-left-bottom {
      .add-btn-container {
        left: 300px;
        bottom: -14px;
      }
      .input-wrapper {
        input {
          width: 300px;
        }
      }
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }
      select {
        width: 300px;
      }
      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }
    }
    .addtask-left-prio {
      gap: 16px;
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }

      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }

      .prio-box {
        height: 48px;
      }
    }
    .addtask-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .addtask-wrapper {
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 48px;
      gap: 4px;
      margin-left: 0 !important;
      .clear-btn {
        display: none;
      }

      .create-btn {
        width: 148px;
        height: 48px;
        padding: 12px 8px 12px 8px;
        @include OpenSans(400, 19px, 22.8px, $white);

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .addtask-left {
      padding: 0px 0px 0px 0px;
    }

    .addtask-left-top {
      .input-wrapper {
        input {
          width: 60%;
        }
      }
      textarea {
        width: 65% !important;
      }
      div {
        input {
          width: 180%;
        }
      }
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }

      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }
    }
    .addtask-assigned-box {
      .assigned-dropdown-container {
        width: 320px;
        .assigned-user {
          width: 300px;
        }
      }
      .assigned-contacts {
        width: 300px;
      }
    }
    .addtask-left-bottom {
      .add-btn-container {
        left: 300px;
        bottom: -14px;
      }
      .input-wrapper {
        input {
          width: 300px;
        }
      }
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }
      select {
        width: 300px;
      }
      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }
    }
    .addtask-left-prio {
      gap: 16px;
      h2 {
        @include OpenSans(700, 16px, 19.2px, $menu-color);
      }

      span {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
      }

      .prio-box {
        height: 48px;
        width: 80%;
      }
    }
    .addtask-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

.show-edittask-wrapper {
  display: flex !important;
}
.edittask-wrapper {
  position: absolute;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: calc(100vw - 252px);
  height: calc(100vh - 96px);
  background-color: $bg-color;
  overflow: hidden;
  z-index: 2;
  animation: slide-in-right 1.5s ease-in-out;

  .error-message {
    @include OpenSans(700, 16px, 18.8px, $red);
    margin-block-start: unset;
    margin-block-end: unset;
  }

  .btn-container {
    margin-left: unset !important;
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .edittask-left {
    box-sizing: border-box;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    padding: 0px 24px 0px 24px;
    gap: 24px;

    form {
      position: relative input {
        width: 100%;
      }
    }
  }

  .headline {
    h1 {
      @include OpenSans(400, 48px, 57.6px, $dashboard-headline);
    }
  }

  .edittask-left-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 380px;
    height: 361px;
    gap: 12px;

    .input-wrapper {
      width: 100vw;
      max-width: 108%;
      input {
        width: 100%;
        height: 24px;
        gap: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $input-boarder;
        padding: 13px 16px 13px 16px;

        &.ng-touched,
        &.ng-dirty {
          &.ng-invalid {
            border: 1px solid $red;
            border-radius: 10px;
          }
          &.ng-valid {
            border: 1px solid $green;
            border-radius: 10px;
          }
        }
      }
    }
    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }
    input {
      border-style: dashed;
      background-color: $bg-color;
      width: 440px;
      height: 64px;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    textarea {
      width: 100vw !important;
      max-width: 115%;
      height: 123px;
      gap: 4px;
      background-color: $bg-color;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
  }

  .edittask-left-prio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    .floating-task-prio {
      display: flex;
    }
    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }

    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    .prio-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 440px;
      height: 51px;
      gap: 16px;

      .prio-container-urgent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $urgent;
        }
        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $urgent;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .prio-container-medium {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $medium;
        }
        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $medium;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .prio-container-low {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 121px;
        height: 48px;
        padding: 18px 10px 18px 10px;
        gap: 8px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;

        svg {
          fill: $low;
        }

        &:hover {
          transition: all 225ms ease-in-out;
          border-bottom: 2px solid $low;
          border-radius: 20px 20px 20px 20px;
        }

        img {
          width: 20px;
          height: 14.5px;
        }
      }
      .assign-color-urgent {
        background-color: $urgent;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
      .assign-color-medium {
        background-color: $medium;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
      .assign-color-low {
        background-color: $low;
        svg {
          fill: $white;
        }
        span {
          @include OpenSans(700, 19px, 22.8px, $white);
        }
      }
    }
  }
  .edittask-assigned-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 440px;
    height: 140px;
    margin-top: 22px;
    margin-left: 4px;
    background-color: $bg-color;
    .assigned-box {
      margin-left: 0;
      display: flex;
      .contacts-usercircle {
        margin-left: -8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border: solid 1px $white;
        border-radius: 50%;
        @include Inter(400, 12px, 14.4px, $white);
        cursor: pointer;

        &:hover {
          background-color: red !important;
        }
      }
    }
    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
      span {
        @include OpenSans(400, 19px, 22.8px, $menu-color);
      }
    }
    .assigned-contacts {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 440px;
      .assigned-dropdown-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 380px;
        height: 22px;
        gap: 8px;
        padding: unset;
        border: 0px 0px 1px 0px solid $input-boarder;
        background-color: $bg-color;
        span {
          @include OpenSans(400, 19px, 22.8px, $menu-color);
        }
      }
      .arrow-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 72px;

        &:hover {
          background-color: $menu-hover;
        }
      }
    }
    .assigned-dropdown-container {
      position: absolute !important;
      top: 104px;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      box-sizing: border-box;
      background-color: $bg-color;
      overflow-y: scroll;
      max-height: 160px;
      border: 1px solid $black !important;
      z-index: 5;

      .assigned-user {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 440px;
        height: 59px;
        padding: 12px 16px 12px 16px;

        .assigned-user-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;

          .assigned-user-Initials {
            @include OpenSans(400, 19px, 22.8px, $white);
          }
        }
        h2 {
          @include OpenSans(700, 19px, 22.8px, $menu-color);
        }
        span {
          @include OpenSans(400, 19px, 22.8px, $menu-color);
        }
      }
    }
  }
  .show-assigned-dropdown {
    display: flex !important;
  }

  .edittask-left-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 500px;
    height: 79px;
    margin-top: 22px;

    .subtask-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 460px;

      img {
        width: 24px;
        height: 24px;

        &:hover {
          cursor: pointer;
          background-color: $menu-hover;
          border-radius: 50%;
        }
      }
    }

    select {
      width: 90%;
      height: 64px;
      gap: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $input-boarder;
      background-color: $bg-color;
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }
    .input-wrapper {
      width: 100vw;
      max-width: 100%;
      input {
        width: 90%;
        height: 24px;
        gap: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $input-boarder;
        padding: 13px 16px 13px 16px;
        background-color: $bg-color;
        @include OpenSans(400, 19px, 22.8px, $menu-color);
        &.ng-touched,
        &.ng-dirty {
          &.ng-invalid {
            border: 1px solid $red;
            border-radius: 10px;
          }
          &.ng-valid {
            border: 1px solid $green;
            border-radius: 10px;
          }
        }
      }
    }

    .add-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -21px;
      left: 431px;
      position: absolute;
      z-index: 3;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.16);
      cursor: pointer;
      transition: all 225ms ease-in-out;

      &:hover {
        scale: (1.2);
      }
    }

    h2 {
      @include OpenSans(700, 19px, 22.8px, $menu-color);
    }

    span {
      @include OpenSans(400, 19px, 22.8px, $menu-color);
    }

    input {
      width: 100%;
      height: 64px;
      gap: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $input-boarder;
      padding: 12px 16px 12px 16px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 335px;
    height: 61px;
    margin-top: 32px;
    margin-left: 64px;
    gap: 4px;

    .clear-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 136px;
      height: 61px;
      border-radius: 10px;
      border-width: 1px;
      border-color: $light-gray;
      padding: 16px 10px 16px 10px;
      gap: 4px;
      @include OpenSans(400, 23px, 27.6px, $light-gray);
      cursor: pointer;
    }

    .create-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      white-space: nowrap;
      width: 174px;
      height: 60px;
      border-radius: 10px;
      border-style: none;
      background-color: $light-blue;
      padding: 16px 10px 16px 10px;
      gap: 4px;
      @include OpenSans(400, 23px, 27.6px, $white);
      cursor: pointer;

      &:disabled {
        background-color: $light-gray;
        cursor: not-allowed;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .edittask-wrapper {
    padding-left: 8px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    max-width: 105%;
    height: calc(100vh - 96px);
    background-color: $bg-color;
    overflow-y: scroll;
    z-index: 2;
    animation: slide-in-right 1.5s ease-in-out;
    top: 0;

    .edittask-right {
      margin-bottom: 165px;
    }
  }
}

@media screen and (max-width: 600px) {
  .board-wrapper {
    .edittask-wrapper {
      padding-left: 8px;
      .edittask-left {
        padding: 0px 0px 0px 0px;

        form {
          .edittask-left-top {
            .input-wrapper {
              input {
                width: 100%;
              }
            }
            textarea {
              width: 110% !important;
            }
            div {
              input {
                width: 240%;
              }
            }
            h2 {
              @include OpenSans(700, 16px, 19.2px, $menu-color);
            }

            span {
              @include OpenSans(400, 16px, 19.2px, $menu-color);
            }
          }
        }
      }
      .addtask-left-top {
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }

        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }
      }
      .edittask-left-bottom {
        .add-btn-container {
          left: 346px;
        }
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }

        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }
      }
      .edittask-left-prio {
        gap: 16px;
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }

        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }

        .prio-box {
          height: 48px;
          width: 80%;
        }
      }
      .edittask-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-bottom: 0px;

        .btn-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 48px;
          gap: 4px;
          margin-left: unset;
          .clear-btn {
            display: none;
          }

          .create-btn {
            width: 148px;
            height: 48px;
            padding: 12px 8px 12px 8px;
            @include OpenSans(400, 19px, 22.8px, $white);

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .board-wrapper {
    .edittask-wrapper {
      padding-left: 8px;
      .edittask-left {
        padding: 0px 0px 0px 0px;

        form {
          .edittask-left-top {
            .input-wrapper {
              input {
                width: 88%;
              }
            }
            textarea {
              width: 96% !important;
            }
            div {
              input {
                width: 220%;
              }
            }
            h2 {
              @include OpenSans(700, 16px, 19.2px, $menu-color);
            }

            span {
              @include OpenSans(400, 16px, 19.2px, $menu-color);
            }
          }
        }
      }
      .addtask-left-top {
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }

        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }
      }
      .edittask-left-bottom {
        width: 400px;
        .add-btn-container {
          left: 346px;
        }
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }

        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }
      }
      .edittask-left-prio {
        gap: 16px;
        bottom: -14px;
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }

        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }

        .prio-box {
          height: 48px;
          width: 80%;
        }
      }
      .edittask-assigned-box {
        .assigned-contacts {
          width: 360px;
        }
      }
      .edittask-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-bottom: 0px;

        .btn-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 48px;
          gap: 4px;
          margin-left: unset;
          .clear-btn {
            display: none;
          }

          .create-btn {
            width: 148px;
            height: 48px;
            padding: 12px 8px 12px 8px;
            @include OpenSans(400, 19px, 22.8px, $white);

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .board-wrapper {
    .edittask-wrapper {
      padding-left: 8px;
      .btn-container {
        width: 285px;
      }
      .edittask-left {
        padding: 0px 0px 0px 0px;

        form {
          .edittask-left-top {
            .input-wrapper {
              input {
                width: 78%;
              }
            }
            textarea {
              width: 74% !important;
            }
            div {
              input {
                width: 172%;
              }
            }
            h2 {
              @include OpenSans(700, 16px, 19.2px, $menu-color);
            }

            span {
              @include OpenSans(400, 16px, 19.2px, $menu-color);
            }
          }
        }
      }
      .addtask-left-top {
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }

        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }
      }
      .edittask-left-bottom {
        width: 330px;
        .add-btn-container {
          left: 266px;
          bottom: -13px;
        }
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }
        .input-wrapper{

          width: 78%;

      }
        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }
      }

      .edittask-left-prio {
        gap: 16px;
        bottom: -14px;
        h2 {
          @include OpenSans(700, 16px, 19.2px, $menu-color);
        }

        span {
          @include OpenSans(400, 16px, 19.2px, $menu-color);
        }

        .prio-box {
          height: 48px;
          width: 300px;

          .prio-container-urgent {
            width: 90px;
          }
          .prio-container-medium {
            width: 90px;
          }
          .prio-container-low {
            width: 90px;
          }
        }
      }
      .edittask-assigned-box {
        .assigned-contacts {
          width: 300px;
        }
      }
      .edittask-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-bottom: 0px;

        .btn-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 48px;
          gap: 4px;
          margin-left: unset;
          .clear-btn {
            display: none;
          }

          .create-btn {
            width: 148px;
            height: 48px;
            padding: 12px 8px 12px 8px;
            @include OpenSans(400, 19px, 22.8px, $white);

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}
