@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 96px;
  margin-left: 232px;
  width: calc(100vw - 232px);
  height: calc(100vh - 96px);
  gap: 72px;
  background-color: $bg-color;
  overflow-y: scroll;
  .headline {
    h1 {
      @include OpenSans(400, 48px, 57.6px, $dashboard-headline);
    }

    span {
      @include OpenSans(700, 64px, 76.8px, $light-blue);
    }
  }

  .task-overview {
    box-sizing: border-box;
    width: 912px;
    height: 442px;

    .task-overview-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      width: 912px;
      height: 191px;

      .task-overview-top-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 672px;
        height: 191px;
        border-radius: 30px;
        padding: 28px 48px 28px 48px;
        gap: 35px;
        background-color: $light-blue;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        &:hover {
          transition: all 0.2s ease-in-out;
          transform: scale(1.05);
        }
        .urgent-tasks {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .urgent-tasks-top {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 58px;

            span {
              margin-left: 16px;
              @include OpenSans(700, 48px, 57.6px, $white);
            }
          }
          img {
            width: 76px;
            height: 76px;
          }
          span {
            margin-top: 16px;
            @include OpenSans(400, 23px, 27.6px, $white);
          }
        }

        .horizontal-line {
          height: 145px;
          border: solid 3px;
          border-color: $white;
        }

        .deadline {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .date {
            @include OpenSans(700, 33px, 39.6px, $white);
          }
          span {
            margin-top: 24px;
            @include OpenSans(400, 23px, 27.6px, $white);
          }
        }
      }

      .task-overview-top-right {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 208px;
        height: 191px;
        border-radius: 30px;
        padding: 4px;
        border-style: solid;
        border-width: 2px;
        border-color: $boarder-color;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        &:hover {
          background-color: $menu-hover;
          transition: all 0.2s ease-in-out;
          transform: scale(1.05);
        }

        .task-container {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .task-container-top {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 124px;
            height: 76px;
            gap: 20px;

            img {
              width: 76px;
              height: 76px;
            }

            span {
              @include OpenSans(700, 48px, 57.6px, $black);
            }
          }
          .task-container-bottom {
            span {
              @include OpenSans(400, 23px, 27.6px, $light-blue);
              white-space: nowrap;
            }
          }
        }
      }
    }

    .task-overview-bottom {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 912px;
      height: 219px;
      margin-top: 32px;

      .task-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 204px;
        height: 219px;
        border-radius: 30px;
        padding: 40px;
        border-style: solid;
        border-width: 2px;
        border-color: $boarder-color;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        &:hover {
          background-color: $menu-hover;
          transition: all 0.2s ease-in-out;
          transform: scale(1.05);
        }
        .task-container-top {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 124px;
          height: 76px;
          gap: 20px;

          img {
            width: 76px;
            height: 76px;
          }

          span {
            @include OpenSans(700, 48px, 57.6px, $black);
          }
        }

        .task-container-bottom {
          span {
            @include OpenSans(400, 23px, 27.6px, $light-blue);
            white-space: nowrap;
          }
        }
      }
    }
  }
}
// End of summary desktop version

// Start of summary mobile version

.dashboard-mobile-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 156px);
  gap: 24px;

  .headline {
    position: absolute;
    background-color: white;
    height: 77vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-up 1500ms 2s ease-in-out forwards;

    @keyframes slide-up {
      0% {
        transform: translateY(0px);
      }
      100% {
        transform: translateY(-100vh);
      }
    }
    h1 {
      text-align: center;
      @include OpenSans(400, 48px, 57.6px, $dashboard-headline);
    }

    span {
      @include OpenSans(700, 64px, 76.8px, $light-blue);
    }
  }

  .task-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 396px;
    height: 632px;
    gap: 24px;

    .task-overview-top {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: 150px;
      border-radius: 30px;
      padding: 28px 48px 28px 48px;
      gap: 16px;
      background-color: $light-blue;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.05);
      }
      .urgent-tasks {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 116px;
        height: 98px;

        .urgent-tasks-top {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 28px;
          height: 58px;

          span {
            margin-left: 16px;
            @include OpenSans(700, 40px, 48px, $white);
          }
        }
        img {
          width: 76px;
          height: 76px;
        }
        span {
          margin-top: 16px;
          @include OpenSans(400, 19px, 22.8px, $white);
          white-space: nowrap;
        }
      }

      .horizontal-line {
        height: 118px;
        border: solid 3px;
        border-color: $white;
      }

      .deadline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 191px;
        height: 49px;
        gap: 2px;
        margin-left: 4px;

        .date {
          @include OpenSans(700, 23px, 27.6px, $white);
          white-space: nowrap;
        }
        span {
          margin-top: 24px;
          @include OpenSans(400, 16px, 19.2px, $white);
          white-space: nowrap;
        }
      }
    }
    .task-toDo-container {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 106px;
      border-radius: 30px;
      padding: 15px 40px 15px 40px;
      gap: 12px;
      background-color: $menu-hover;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.05);
      }
      span {
        @include OpenSans(700, 48px, 57.6px, $black);
      }
      .task-container-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 124px;
        height: 76px;
        gap: 20px;

        img {
          width: 76px;
          height: 76px;
        }
      }
      .task-container-right {
        span {
          @include OpenSans(400, 19px, 22.8px, $light-blue);
          white-space: nowrap;
        }
      }
    }
    .task-overview-bottom {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 24px;
      .task-overview-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
      }
      .task-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 186px;
        height: 152px;
        border-radius: 30px;
        padding: 15px 40px 15px 40px;
        border-style: solid;
        border-width: 2px;
        border-color: $boarder-color;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        &:hover {
          background-color: $menu-hover;
          transition: all 0.2s ease-in-out;
          transform: scale(1.05);
        }
        .task-container-top {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 124px;
          height: 76px;
          gap: 20px;

          img {
            width: 76px;
            height: 76px;
          }

          span {
            @include OpenSans(700, 48px, 57.6px, $black);
          }
        }

        .task-container-bottom {
          span {
            @include OpenSans(400, 19px, 22.8px, $light-blue);
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .dashboard-wrapper {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 80px;
    padding-bottom: unset;
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 78px);
    gap: 24px;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard-wrapper {
    display: none;
  }
  .dashboard-mobile-wrapper {
    display: flex;
  }
  .headline {

    h1 {
      @include OpenSans(400, 32px, 32.6px, $dashboard-headline);
    }

    span {
      @include OpenSans(700, 32px, 36px, $light-blue);
    }
  }
}

@media screen and (max-width: 450px) {
  .headline {
    width:auto;
    h1 {
      @include OpenSans(400, 26px, 28.6px, $dashboard-headline);
    }

    span {
      @include OpenSans(700, 26px, 30px, $light-blue);
    }
  }
  .dashboard-mobile-wrapper {
    overflow-y: scroll;
    justify-content: flex-start;
    padding-top: 90px;
    padding-bottom: 90px;
    height: 100vh;
    overflow: hidden;
    .task-overview {
      width: 300px;
      gap: 8px;
      .task-overview-top {
        height: 100px;
        .urgent-tasks {
          width: 80px;
          .urgent-tasks-top {
            img {
              width: 40px;
              height: 40px;
            }
            span {
              @include OpenSans(700, 32px, 16.8px, $white);
              margin-right: 8px;
            }
          }
          span {
            @include OpenSans(400, 16px, 16.8px, $white);
            margin-right: 8px;
            margin-bottom: 14px;
          }
        }
        .deadline {
          width: 120px;
          .date {
            @include OpenSans(700, 16px, 16.8px, $white);
          }
          span {
            @include OpenSans(400, 12px, 12.8px, $white);
          }
        }
      }
      .task-toDo-container {
        height:100px;
      }
      .task-overview-bottom {
        gap: 8px;
        .task-container {
          width: 145px;
          height: 115px;
          padding: 15px 20px 15px 20px;
          .task-container-top {
            width: 80px;
            height: 80px;
            gap: 10px;
            img {
              width: 60px;
              height: 60px;
            }
            span {
              @include OpenSans(700, 24px, 24.8px, $black);
            }
          }
          .task-container-bottom {
            span {
              @include OpenSans(400, 12px, 12.8px, $light-blue);
            }
          }
        }
      }
    }
  }
}
