<div class="dashboard-wrapper">
  <div class="headline">
    <h1>Good morning, <span>Sofia Müller</span></h1>
  </div>
  <div class="task-overview">
    <div class="task-overview-top">
      <div class="task-overview-top-left"></div>
      <div class="task-overview-top-right"></div>
    </div>
    <div class="task-overview-bottom">
      <div class="task-container">
        <div class="task-container-top">
          <img
            src="assets/img/summary/tasks_todo.png"
            alt="icon"
          />
          <span>1</span>
        </div>
        <div class="task-container-bottom">
          <span>Tasks To-do</span>
        </div>
      </div>
      <div class="task-container">
        <div class="task-container-top">
          <img
            src="assets/img/summary/tasks_progress.png"
            alt="icon"
          />
          <span>2</span>
        </div>
        <div class="task-container-bottom">
          <span>Tasks in progress</span>
        </div>
      </div>
      <div class="task-container">
        <div class="task-container-top">
          <img
            src="assets/img/summary/tasks_feedback.png"
            alt="icon"
          />
          <span>3</span>
        </div>
        <div class="task-container-bottom">
          <span>Awaiting Feedback</span>
        </div>
      </div>
      <div class="task-container">
        <div class="task-container-top">
          <img
            src="assets/img/summary/tasks_done.png"
            alt="icon"
          />
          <span>4</span>
        </div>
        <div class="task-container-bottom">
          <span>Tasks Done</span>
        </div>
      </div>
    </div>
  </div>
</div>
